.header {
  height: 60px;
  background: rgba($color: #333333, $alpha: .8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  padding: 10px 20px;
  display: flex;
  justify-content: flex-end;
  button {
    width: 80px;
    margin-left: 20px;
    background: #484ec0;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    &:active {
      background: #2c329e;
    }
    &:disabled {
      background: #34363c;
      color: #575b6a;
    }
  }
  ul {
    display: flex;
    flex-direction: row-reverse;
  }
  li {
    background: #42444e;
    margin-left: 10px;
    width: 40px;
    border-radius: 3px;
    position: relative;
    img {
      width: 40px;
      height: 40px;
    }
    span {
      position: absolute;
      top: 0;
      right: 0;
      font-size: 10px;
      color: aliceblue;
      cursor: pointer;
    }
  }
  .empty {
    background: #6e6f70;
  }
}