@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1720593893699') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiaxue:before {
  content: "\e8d6";
}

.icon-xingxing:before {
  content: "\e8d7";
}

.icon-shengdanwa:before {
  content: "\e8d8";
}

.icon-shengdanye:before {
  content: "\e8d9";
}

