<script setup>
import { nextTick, ref } from 'vue'

// 1. ref 定义响应式变量
// 2. 返回一个对象
// 3. 在 js 中使用变量需要通过 value 获取值
// 4. 在 template 中使用变量时会自动解包，无需通过 value 获取
const count = ref(0)
const arr = ref([1, 2, 3, 4])
const obj = ref({ name: '小明' })

const add = (n) => {
  console.log(count.value)
  count.value += n
}

const changeArr = () => {
  // arr.value[0] = 200
  // arr.value.length = 0
  arr.value.push(Math.random())
}


const changeObj = async () => {
  obj.value.age = 22
  // nextTick(() => {
  //   console.log(document.querySelector('.obj').outerHTML)
  // })
  await nextTick()
  console.log(document.querySelector('.obj').outerHTML)
}
// 定义普通变量，修改变量时组件不会更新
// let count = 0
// const add = (n) => {
//   count += n
//   console.log(count)
// }
</script>

<template>
  <div class="app">
    <div>
      count: {{ count }}
      <button @click="count++">+</button>
      <button @click="add(2)">+</button>
    </div>
    <div>
      arr: {{ arr }}
      <button @click="changeArr">修改数组</button>
    </div>
    <div>
      <p class="obj">obj: {{ obj }}</p>
      <button @click="changeObj">修改对象</button>
    </div>
  </div>
</template>

<style lang='scss' scoped>
.app {
  background: tomato;
  h2 {
    color: #ffffff;
  }
}
</style>
