<template>
  <div>
    <router-link to="/detail/7001">跳转一人之下</router-link>
    <div class="poster">
      <img :src="film.poster" alt="">
    </div>
    <div class="desc" ref="descRef" :class="{ hide: !showDesc }" :style="{ height: descHeight }">
      {{film.synopsis}}
    </div>
    <button @click="showDesc = !showDesc">{{showDesc ? '收起' : '展开'}}</button>
    <div class="actors">
      <h2>演职人员</h2>
      <ul>
        <li v-for="item in film.actors" :key="item.name">
          <img :src="item.avatarAddress" alt="">
          <p>{{item.name}}</p>
          <p>{{item.role}}</p>
        </li>
      </ul>
    </div>
    <div class="photos-bar" @click="show = true">
      <b>剧照</b>
      <span>{{film.photos?.length}}张</span>
    </div>
    <div class="photes">
      <div class="pic" v-for="(item, index) in film.photos" :key="item">
        <img :src="item" alt="" @click="showPic(index)">
      </div>
    </div>
    <Photos
      :visible.sync="show"
      :list="film.photos"
      @clickPic="showPic"
    />
    <MySwiper
      v-if="showSwiper"
      @close="showSwiper = false"
      :list="film.photos"
      :index="clickIndex"
    />
  </div>
</template>

<script>
import Photos from './components/Photos.vue'
import MySwiper from './components/MySwiper.vue'

import axios from 'axios'
export default {
  data() {
    return {
      showDesc: true,
      film: {
      },
      show: false,
      showSwiper: false,
      clickIndex: 1,
      descHeight: 'auto'
    }
  },
  methods: {
    async getDetail() {
      // const id = this.$route.query.id
      const id = this.$route.params.filmId
      const res = await axios.get('https://m.maizuo.com/gateway', {
        params: {
          filmId: id,
          k: 5087013
        },
        headers: {
          'X-Client-Info': '{"a":"3000","ch":"1002","v":"5.2.1","e":"1697785287468761320620033","bc":"110100"}',
          'X-Host': 'mall.film-ticket.film.info'
        }
      })
      this.film = res.data.data.film
      this.$nextTick(() => {
        // 等页面渲染成功之后
        console.log(this.$refs.descRef.clientHeight)
        this.descHeight = this.$refs.descRef.clientHeight + 'px'
        this.showDesc = false
      })
    },
    showPic(index) {
      this.showSwiper = true
      this.clickIndex = index
    }
  },
  created() {
    // console.log('当前路由信息', this.$route)
    // console.log('路由实例对象', this.$router)
    // console.log('当前路由query', this.$route.query)
    // console.log('获取动态路由参数', this.$route.params)
    this.getDetail()
  },
  components: {
    Photos,
    MySwiper
  },
  watch: {
    $route() {
      console.log('路由改变了')
      this.getDetail()
    }
  },
  // beforeRouteEnter(to, from, next) {
  //   // 在渲染该组件的对应路由被 confirm 前调用
  //   // 不！能！获取组件实例 `this`
  //   // 因为当守卫执行前，组件实例还没被创建
  //   console.log('想要跳转Detail.vue')
  //   next()
  // },
  // beforeRouteUpdate(to, from, next) {
  //   // 在当前路由改变，但是该组件被复用时调用
  //   // 举例来说，对于一个带有动态参数的路径 /foo/:id，在 /foo/1 和 /foo/2 之间跳转的时候，
  //   // 由于会渲染同样的 Foo 组件，因此组件实例会被复用。而这个钩子就会在这个情况下被调用。
  //   // 可以访问组件实例 `this`
  //   console.log('组件复用了')
  //   next()
  //   this.getDetail()
  // },
  // beforeRouteLeave(to, from, next) {
  //   // 导航离开该组件的对应路由时调用
  //   // 可以访问组件实例 `this`
  //   if (window.confirm('确定要离开此页面吗？')) {
  //     next()
  //   } else {
  //     this.$router.forward()
  //   }
  // }
}
</script>

<style lang="scss" scoped>
.poster {
  height: 210px;
  overflow: hidden;
  display: flex;
  align-items: center;
  img {
    width: 100%;
  }
}
.actors {
  ul {
    display: flex;
    overflow: auto;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  li {
    list-style-type: none;
    width: 85px;
    flex-shrink: 0;
    margin-right: 15px;
  }
  img {
    width: 100%;
  }
}
.desc {
  font-size: 14px;
  line-height: 24px;
  transition: height 1s linear;
    overflow: hidden;
}
.hide {
  height: 48px !important;
}
.photos-bar {
  height: 40px;
  background: #dddddd;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  margin-top: 20px;
  line-height: 40px;
}
.photes {
  display: flex;
  overflow: auto;
  .pic {
    width: 150px;
    height: 100px;
    overflow: hidden;
    flex-shrink: 0;
    margin-right: 10px;
    img {
      width: 100%;
    }
  }
}
</style>