<script setup>
import { nextTick, reactive, ref, computed } from 'vue'

const arr = ref([1,2,3,4])
</script>

<template>
  <div class="app">
    <button @click="arr.push(arr.length + 1)">修改数组</button>
   
    <ul>
      <!-- vue2 中 v-for 的优先级比 v-if 高 -->
      <!-- vue3 中 v-if 的优先级比 v-for 高 -->
      <!-- <li v-for="item in arr" v-if="item % 2 === 0">{{ item }}</li> -->
    </ul>
  </div>
</template>

<style lang='scss' scoped>
.app {
  background: tomato;
  h2 {
    color: #ffffff;
  }
}
</style>
