.home {
  display: flex;
  flex-direction: column;
  main {
    flex: 1;
    overflow: auto;
  }
  footer {
    height: 50px;
    border-top: 1px solid;
    display: flex;
    a {
      flex: 1;
      line-height: 50px;
      text-align: center;
    }
    :global {
      .active {
        background: tomato;
      }
    }
  }
}