/* pages/mine/mine.wxss */
.link {
  color: blue;
}
.swiper {
  background: red;
  height: 276rpx;
}
.swiper image {
  width: 100%;
}
.title {
  line-height: 40px;
  background: tomato;
  text-align: center;
  .text {
    color: #ffffff;
  }
}