<template>
  <div id="app">
    <Header
      v-if="topList.length > 0"
      :topList="topList"
      @changeActive="change"
      @onCompare="show = true"
    />
    <div class="content">
       <Bottle
          v-for="item in list"
          :key="item.title"
          :title="item.title"
          :src="item.src"
          :price="item.price"
          :active="item.active"
          @changeActive="change(item)"
       />
    </div>
    <Compare
      v-if="show"
      :topList="topList"
      @close="show = false"
    />
  </div>
</template>

<script>
import axios from 'axios'
import Bottle from './components/Bottle.vue'
import Header from './components/Header.vue'
import Compare from './components/Compare.vue'

export default {
  name: 'App',
  data() {
    return {
      show: false,
      list: [],
      topList: []
    }
  },
  methods: {
    change(item) {
      if (this.topList.length >= 3 && !item.active) return
      this.$set(item, 'active', !item.active)
      if (item.active) {
        this.topList.push(item)
      } else {
        const index = this.topList.indexOf(item)
        this.topList.splice(index, 1)
      }
    }
  },
  components: {
    Bottle,
    Header,
    Compare
  },
  async created() {
    try {
      const res = await axios.get('https://zyxcl.xyz/exam_api/bottle')
      this.list = res.data.value
    } catch (e) {
      console.log(e)
    }
  }
}
</script>

<style lang="scss">
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  background: #2a2b2f;
}
.content {
  width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  padding: 50px 0;
}
</style>
