.card {
  background: #242529;
  width: calc(25% - 20px);
  margin: 10px;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  border: 1px solid transparent;
  &:hover {
    img {
      :global {
        animation: wobble 1s;
      }
    }
  }
  img {
    width: 150px;
    height: 150px;
  }
  h3 {
    color: #cecece;
    height: 50px;
    margin: 10px 0;
  }
  p {
    color: #787de6;
    margin-bottom: 20px;
  }
  .icon {
    color: #cecece;
    position: absolute;
    right: 15px;
    top: 15px;
  }
  &.active {
    border-color: #787de6;
    .icon {
      color: #787de6;
    }
  }
}