<script setup>
import { nextTick, reactive, ref } from 'vue'

// reactive: 
// 1. 只能定义引用类型变量，不能定义基础类型变量
// 2. js 中使用时无需通过 value 获取，可以直接使用
// 3. 不可以重新赋值，只能修改内容

// ref:
// 1. 可以定义任意类型
// 2. 可以重新赋值
// 3. js中必须通过 value 获取和修改

const arr = reactive([1,2,3,4])
const arr2 = ref([1,2,3,4])
const obj = reactive({ name: '小明' })
const count = reactive(0)

const change = () => {
  // arr.push(Math.random())
  // arr2.value.push(Math.random())

  // arr[0] = Math.random()
  // arr2.value[0] = Math.random()

  // arr = []
  arr2.value = []

  // console.log('arr', arr)
  // console.log('arr2', arr2.value)
}
</script>

<template>
  <div class="app">
    <button @click="change">修改对象和数组</button>
    <div>
      <p>数组</p>
      <p>arr1: {{ arr }}</p>
      <p>arr2: {{ arr2 }}</p>
    </div>
    <div>
      <p>对象</p>
      {{ obj }}
    </div>
    <!-- <p>count: {{ count }}</p>
    <button @click="count++">count+</button> -->
  </div>
</template>

<style lang='scss' scoped>
.app {
  background: tomato;
  h2 {
    color: #ffffff;
  }
}
</style>
