.item {
  display: flex;
}
.imgWrap {
  width: 120px;
  img {
    width: 100%;
  }
}
.desc {
  flex: 1;
  padding: 12px;
}
.grid {
  display: flex;
  flex-wrap: wrap;
  .item {
    width: 50%;
    flex-direction: column;
  }
  .imgWrap {
    width: 100%;
  }
}