<template>
  <div id="app">
    <router-view />
  </div>
</template>

<script>
export default {
  created() {
  }
}
</script>


<style lang="scss">
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#app {
  height: 100vh;
}
a {
  text-decoration: none;
}
</style>
