<script setup lang="ts">
import { RouterView } from 'vue-router'
</script>

<template>
  <RouterView />
</template>

<style>
* {
  margin: 0;
  padding: 0;
}
img {
  vertical-align: middle;
}
li {
  list-style-type: none;
}
#app {
  height: 100vh;
  width: 100vw;
}
</style>
