@import '../../style/common.scss';

body {
  // 使用css变量
  // background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.row {
  display: flex;
  margin: 10px 0;
  span {
    width: 80px;
  }
  input {
    flex: 1;
    height: 30px;
  }
}
button {
  display: block;
  width: 100%;
  height: 30px;
  background: var(--primary-color);
  color: var(--primary-text-color);
}
.form-wrap {
  display: none;
  &.show {
    display: block;
  }
}
.trigger {
  margin-top: 20px;
  .active {
    color: var(--primary-color);
  }
}