<template>
  <div class="box">
    <h2>{{title}}</h2>
    <button @click="changecount(-1)">-</button>
    {{count}}
    <button @click="changecount(1)">+</button>
    {{info}}
  </div>
</template>

<script>
export default {
  // 接收组件传入的参数
  props: ['title', 'info'],
  data() {
    return {
      count: 1
    }
  },
  methods: {
    changecount(n) {
      this.count += n
      console.log(this.info)
    }
  },
}
</script>

<style lang="scss" scoped>
.box {
  border: 1px solid red;
  padding: 20px;
}
</style>