<script setup lang="ts">
  import { ref } from 'vue'
  
  interface Person {
    name: string;
    age: number;
  }
  
  const obj = ref<Person>({
    name: 'aaa',
    age: 22
  })
  
  const title = ref('标题')
  const arr = ref([1,2,3,4,5,6,7,8,9,10, 11,12,13,14,15,16,17])
  
  const changeTitle = () => {
    title.value = '123'
  }
  
</script>

<template>
  <view>
    <uni-countdown :day="1" :hour="1" :minute="12" :second="40"></uni-countdown>

    <button type="default" @click="changeTitle">修改标题</button>
    
    <view class="title">
      {{title}}
    </view>
    <input type="text" v-model="title" />
    
    <view class="item" v-for="item in arr" :key="item">
      {{item}}
    </view>
  </view>
</template>

<style lang="scss">
.title {
  color: red;
  background: orange;
  text-align: center;
}
.item {
  line-height: 50px;
  text-align: center;
  border-bottom: 1px solid;
  background: tomato;
  color: #ffffff;
  font-size: 30px;
}
</style>
