<script setup>
import { ref, provide } from 'vue'
import Child from './components/Child.vue'

const count = ref(0)
const title = ref('标题')

</script>

<template>
  <div class="app">
    <h2>{{ title }}</h2>
    <input type="text" v-model="title">
    <button @click="count++">{{ count }} +</button>

    <Child
      v-model="title"
      v-model:count="count"
    />
    <!-- <Child
      :modelValue="title"
      @update:modelValue="ev => title = ev"
      :count="count"
      @update:count="ev => count = ev"
    /> -->
  </div>
</template>

<style lang='scss' scoped>

</style>
