.comment {
  display: flex;
  padding: 20px 0;
  border-bottom: 1px dashed;
  &:hover {
    background: #ccc;
    .del {
      display: block;
    }
  }
  img {
    width: 50px;
    height: 50px;
  }
  .info {
    flex: 1;
    margin-left: 15px;
  }
  .commentRight {
    span {
      color: #2b4a78;
      margin-right: 5px;
    }
  }
  .del {
    cursor: pointer;
    color: remove;
    display: none;
  }
}