<template>
  <div id="app">
    <h1>我是app</h1>
    <nav>
      <router-link to="/home">首页</router-link>
      <router-link to="/detail">详情</router-link>
      <router-link to="/login">登录</router-link>
    </nav>
    <router-view />
  </div>
</template>

<script>
export default {
  created() {
    // console.log(this.$router)
  }
}
</script>


<style lang="scss">
nav {
  a {
    margin: 0 10px;
  }
  .router-link-exact-active {
    color: tomato;
  }
}
</style>
