<script setup>
import { reactive, ref, watch } from 'vue'

const count = ref(0)
const title = ref('')
const obj1 = ref({ name: '小明', age: 22})
const obj2 = reactive({ name: '小红', age: 33, info: {
  a: {
    b: {
      c: 0
    }
  }
}})

// 监听单个变量
// watch(count, (newVal, oldVal) => {
//   console.log('count改变了', newVal, oldVal)
// })
// watch(title, (newVal, oldVal) => {
//   console.log('title改变了', title.value)
// })

// 监听多个变量
// watch([count, title], () => {
//   console.log('count或者title改变了', count.value, title.value)
// })

// 监听ref定义的对象，属性修改不执行，重新赋值才能够监听到
// watch(obj1, () => {
//   console.log('obj1改变了', obj1.value)
// })

// 想要深度监听 ref 对象需要使用 deep: true
// watch(obj1, () => {
//   console.log('obj1改变了', obj1.value)
// }, {
//   deep: true
// })


// 对象中任意属性修改都可以监听到，默认是深度监听
// watch(obj2, () => {
//   console.log('obj2 改变了', obj2)
// })


// 监听对象中的某个属性
// watch(() => obj1.value.age, () => {
//   console.log('obj1 的 age 修改了', obj1.value.age)
// })

// watch(() => obj2.age, () => {
//   console.log('obj2 的 age 修改了', obj2.age)
// })

watch(() => [obj1.value.age, obj2.name], () => {
  console.log('obj1.value.age 或者  obj2.name 修改了')
}, {
  immediate: true
})



const change = () => {
  obj1.value = {...obj1.value, age: obj1.value.age + 1}
}

</script>

<template>
  <div class="app">
    <h2>{{ title }}</h2>
    <input type="text" v-model="title">
    <div>count: {{ count }} <button @click="count++">+</button></div>
    <hr />
    <input type="text" v-model="obj1.name">
    <input type="text" v-model="obj2.name">
    <p>ref 定义obj1: {{ obj1 }}</p>
    <p>reactive 定义obj2: {{ obj2 }}</p>
    <button @click="obj1.age++">obj1.age++</button>
    <button @click="obj2.age++">obj2.age++</button>
    <button @click="obj2.info.a.b.c++">obj2.info.a.b.c++</button>
    <button @click="change">修改obj1</button>
  </div>
</template>

<style lang='scss' scoped>
.app {
  background: tomato;
  h2 {
    color: #ffffff;
  }
}
</style>
