<script setup>
import { nextTick, ref } from 'vue'

// 1. ref 定义响应式变量
// 2. 返回一个对象
// 3. 在 js 中使用变量需要通过 value 获取值
// 4. 在 template 中使用变量时会自动解包，无需通过 value 获取
// 5. 使用 ref 获取 dom 元素，把 ref 变量传给标签的 ref 属性
const count = ref(0)
const countRef = ref(null)

const add = (n) => {
  count.value += n
  console.log(countRef.value)
}

</script>

<template>
  <div class="app">
    <div>
      <p ref="countRef">{{ count }}</p>
      <button @click="add(2)">+</button>
    </div>
  </div>
</template>

<style lang='scss' scoped>
.app {
  background: tomato;
  h2 {
    color: #ffffff;
  }
}
</style>
