<template>
  <div class="child">
    <h3 class="title">我是child组件</h3>
    <div class="info">
      <div class="test">测试一下</div>
    </div>
  </div>
</template>

<script>
export default {

}
</script>

<style lang="scss">
.child {
  border: 1px solid red;
  padding: 20px;
}
.title {
  background: green;
}
.test {
  background: blue;
  color: #ffffff;
}
</style>