<template>
  <div class="header">  
    <div class="user">
      <span>{{username}}</span>
      <button @click="logout">退出登录</button>
    </div>
    <nav>
      <router-link v-for="(item, index) in navlist" :key="item.path" :to="item.path">
        {{item.subTitle}}
        <span @click.prevent="remove(index, item.path)">x</span>
      </router-link>
    </nav>
  </div>
</template>

<script>
import { menuList } from '../constants'

export default {
  data() {
    return {
      navlist: [],
      username: localStorage.getItem('username') || ''
    }
  },
  watch: {
    $route: {
      handler() {
        // console.log('导航改变了', this.$route.path)
        const index = this.navlist.findIndex(v => v.path === this.$route.path)
        if (index > -1) return
        // 根据当前页面地址去所有地址中查找
        menuList.forEach(item => {
          item.list.forEach(val => {
            if (val.path ===  this.$route.path) {
              this.navlist.push(val)
            }
          })
        })
      },
      immediate: true
    }
  },
  methods: {
    logout() {
      localStorage.removeItem('token')
      this.$router.push('/login')
    },
    remove(index, path) {
      // console.log(index, path, this.$route.path)
      // 要删除当前页面
      if (path === this.$route.path) {
        if (this.navlist.length === 1) {
          this.navlist = []
          this.logout()
        } else if (index === this.navlist.length - 1) {
          // 删除最后一项，往前一项跳转
          this.$router.push(this.navlist[index - 1].path)
          this.navlist.splice(index, 1)
        } else {
          this.$router.push(this.navlist[index + 1].path)
          this.navlist.splice(index, 1)
        }
      } else {
        this.navlist.splice(index, 1)
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.header {
  height: 120px;
  border-bottom: 1px solid #cccccc;
}
.user {
  height: 80px;
  border-bottom: 1px solid #dddddd;
  text-align: right;
  padding-top: 20px;
  padding-right: 20px;
  button {
    margin-left: 20px;
  }
}
nav {
  display: flex;
  padding-top: 10px;
  a {
    margin-left: 15px;
    padding: 0 20px;
    color: #333333;
    line-height: 30px;
    &.router-link-active {
      background: #dddddd;
    }
  }
  span {
    background: red;
    padding: 0 5px;
  }
}
</style>