<template>
  <div class="menu">
    <div class="title">
      <p
        v-for="(item, index) in tabList"
        :key="item.title"
        :class="{ active: curIndex === index }"
        @click="changeTab(index)"
      >{{item.title}}</p>
    </div>
    <div class="menu-list">
      <h3>{{curTitle}}</h3>
      <ul>
        <li v-for="item in tabList[curIndex].list" :key="item.path">
          <router-link :to="item.path">{{item.subTitle}}</router-link>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import { menuList } from '../constants'
export default {
  data() {
    return {
      curIndex: 0,
      tabList: menuList
    }
  },
  computed: {
    curTitle() {
      let title = ''
      // 根据当前路由的path去所有数据中查找
      this.tabList.forEach(item => {
        item.list.forEach(val => {
          if (val.path === this.$route.path) {
            title = val.subTitle
          }
        })
      })
      return title
    }
  },
  methods: {
    changeTab(index) {
      this.curIndex = index
      this.$router.push(this.tabList[index].list[0])
    }
  },
  watch: {
    $route: {
      handler() {
        this.tabList.forEach((item, index) => {
          const val = item.list.find(v => v.path === this.$route.path)
          if (val) {
            this.curIndex = index
          }
        })
      },
      immediate: true
    }
  }
}
</script>

<style lang="scss" scoped>
.menu {
  width: 250px;
  background: #061c48;
  display: flex;
  color: #ffffff;
}
.title {
  width: 100px;
  background: #011035;
  padding-top: 130px;
  p {
    height: 100px;
    text-align: center;
    line-height: 100px;
    cursor: pointer;
  }
  .active {
    background: #061c48;
    border-left: 3px solid #ffffff;
  }
}
.menu-list {
  flex: 1;
  h3 {
    height: 130px;
    line-height: 130px;
    text-align: center;
    border-bottom: 1px solid #dddddd;
  }
  li {
    padding: 5px 0;
  }
  a {
    display: block;
    text-align: center;
    line-height: 30px;
    color: #999999;
    &.router-link-active {
      color: #ffffff;
      border-right: 5px solid #1790ff;
    }
  }
}
</style>