<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>
<style>
  .box {
    border: 1px solid;
  }
</style>
<body>
  <div class="app">
    <p>{{obj}}</p>
    <button @click="change">按钮</button>
  </div>



  <script>
    const vm = new Vue({
      el: '.app',
      data: {
        obj: {
          name: '小明',
          age: 22
        }
      },
      methods: {
        change() {
          // this.obj.age++
          // 给对象添加新属性不更新页面
          // this.obj.sex = '男'

          // 直接修改对象本身
          // this.obj = {...this.obj, sex: '男'}

          // 通过$set更新页面
          // this.$set(this.obj, 'sex', '男')
          Vue.set(this.obj, 'sex', '男')
          console.log(this.obj)
        }
      }
    })

    // console.log(vm)


  </script>

  <hr />
  <div class="test"></div>

  <script>



    // vue响应式原理
    const xm = { age: 22, name: '小明' }
    document.querySelector('.test').innerHTML = xm.age

    let age = xm.age
    Object.defineProperty(xm, 'age', {
      get() {
        console.log('有人想获取xm.age')
        return age
      },
      set(newVal) {
        console.log('有人想设置xm.age', newVal)
        document.querySelector('.test').innerHTML = newVal
        age = newVal
      }
    })
  </script>



</body>
</html>