<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>
<style>
  .box {
    border: 1px solid;
  }
</style>
<body>
  <div class="app">
    <p>{{list}}</p>
    <button @click="change">按钮</button>
  </div>

  <script>
    const vm = new Vue({
      el: '.app',
      data: {
        list: [1,2,3,4,5,6,7]
      },
      methods: {
        change() {
          // 通过数组下标修改，无法更新页面
          // this.list[1] = 200
          // 通过数组length修改，无法更新页面
          // this.list.length = 0

          // 直接赋值或 $set 可以更新页面
          // this.list = []
          // this.$set(this.list, 1, 200)


          // vue重写此7个方法，使用此方法修改数组可以触发页面更新
          // shift pop unshift push sort reverse splice
          this.list.push(Math.random())
          console.log(this.list)
        }
      }
    })


    // const _push = Array.prototype.push
    // Array.prototype.push = function (...rest) {
    //   _push.apply(this, rest)
    //   // 更新也米娜
    //   // 。。。。。
    // }




    // console.log(vm)



    // vue响应式原理
    // const xm = { age: 22, name: '小明' }
    // Object.defineProperty(xm, 'age', {
    //   get() {
    //     console.log('有人想获取xm.age')
    //   },
    //   set(newVal) {
    //     console.log('有人想设置xm.age', newVal)
    //   }
    // })






  </script>
</body>
</html>