<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>
<style>
  .box {
    border: 1px solid;
  }
  ul {
    background: #ccc;
  }
</style>
<body>
  <div class="app">
    <button @click="change">按钮</button>
    <ul ref="listRef">
      <li v-for="item in list">{{item}}</li>
    </ul>
  </div>

  <script>
    const vm = new Vue({
      el: '.app',
      data: {
        list: [1]
      },
      methods: {
        change() {
          this.list.push(Math.random())
          // 数据更新后，页面是异步更新，无法立即获取到最新的dom元素
          // console.log(this.$refs.listRef.outerHTML)

          this.$nextTick(() => {
            // 页面更新完成之后执行此函数，可以获取到最新dom
            console.log(this.$refs.listRef.outerHTML)
          })
        }
      }
    })


    // const _push = Array.prototype.push
    // Array.prototype.push = function (...rest) {
    //   _push.apply(this, rest)
    //   // 更新也米娜
    //   // 。。。。。
    // }




    // console.log(vm)



    // vue响应式原理
    // const xm = { age: 22, name: '小明' }
    // Object.defineProperty(xm, 'age', {
    //   get() {
    //     console.log('有人想获取xm.age')
    //   },
    //   set(newVal) {
    //     console.log('有人想设置xm.age', newVal)
    //   }
    // })






  </script>
</body>
</html>