<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>
<style>
  .box {
    border: 1px solid;
  }
  ul {
    background: #ccc;
  }
</style>
<body>
  <div class="app">
    <button @click="change">添加</button>
    <button @click="list.shift()">删除第一个</button>
    <!--
      vue更新时默认使用就地复用的策略, 
      可以给列表的每个元素添加一个key作为唯一标识提高比较效率
      更新前: a b c d e
      更新后: a c d e


      下标当作key:
      更新前: 0 1 2 3
      更新后: 0 1 2

    -->
    <ul>
      <li v-for="(item, index) in list" :key="index">
        <input type="checkbox">
        {{item}}
      </li>
    </ul>

    <hr />
    <button @click="isLogin = !isLogin">切换</button>
    <input key="1" v-if="isLogin" type="text" placeholder="登录">
    <input key="2" v-else type="text" placeholder="注册">

  </div>

  <script>
    const vm = new Vue({
      el: '.app',
      data: {
        list: [1],
        isLogin: true
      },
      methods: {
        change() {
          this.list.push(Math.random())
        }
      }
    })


    // const _push = Array.prototype.push
    // Array.prototype.push = function (...rest) {
    //   _push.apply(this, rest)
    //   // 更新也米娜
    //   // 。。。。。
    // }




    // console.log(vm)



    // vue响应式原理
    // const xm = { age: 22, name: '小明' }
    // Object.defineProperty(xm, 'age', {
    //   get() {
    //     console.log('有人想获取xm.age')
    //   },
    //   set(newVal) {
    //     console.log('有人想设置xm.age', newVal)
    //   }
    // })






  </script>
</body>
</html>