<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>
<body>
  <div class="app">
    <h1>title: {{title}}</h1>
    <h2 v-text="title">title</h2>
    <h2 v-html="title"></h2>
  </div>

  <script>

    const vm = new Vue({
      // 可以使用 vue 语法的元素
      el: '.app',
      // 定义 vue 变量，会自动添加到 vue 实例对象上
      data: {
        title: '<i>默认标题</i>'
      }
    })

    console.log(vm)


  </script>
</body>
</html>