<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>
<body>
  <div class="app">
    <!-- <div v-show="count < 60" style="color: red">count 小于 60 分</div>
    <div v-show="count >= 60 && count < 90" style="color: orange">count 在 60 - 90 之间</div>
    <div v-show="count >= 90" style="color: green">count 大于 90</div> -->

    <div v-if="count < 60" style="color: red">count 小于 60 分</div>
    <div v-else-if="count >= 60 && count < 90" style="color: orange">count 在 60 - 90 之间</div>
    <div v-else style="color: green">count 大于 90</div>
  </div>

  <script>

    const vm = new Vue({
      // 可以使用 vue 语法的元素
      el: '.app',
      // 定义 vue 变量，会自动添加到 vue 实例对象上
      data: {
        count: 0
      }
    })

    console.log(vm)


  </script>
</body>
</html>