<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>
<style>
  .list-item {
    border-bottom: 1px solid;
  }
</style>
<body>
  <div class="app">
    <!-- <ul>
      <li v-for="(val, index) in list">
        <h3>val: {{val}}</h3>
        <i>下标: {{index}}</i>
      </li>
    </ul> -->
    <!-- <div class="list">
      <div class="list-item" v-for="item in list1">
        <p>姓名: {{item.name}}</p>
        <p>年龄: {{item.age}}</p>
        <p>爱好：
          <span v-for="v in item.hobby">{{v}}</span>
        </p>
      </div>
    </div> -->

    <!-- <ul>
      <li v-for="v in 'abcdefg'">{{v}}</li>
    </ul> -->

    <!-- <ul>
      <li v-for="v in 5">{{v}}</li>
    </ul> -->

    <ul>
      <li v-for="(val, key, index) in xm">
        <p>key: {{key}}</p>
        <p>val: {{val}}</p>
        <p>index: {{index}}</p>
      </li>
    </ul>
  </div>

  <script>
    const vm = new Vue({
      // 可以使用 vue 语法的元素
      el: '.app',
      // 定义 vue 变量，会自动添加到 vue 实例对象上
      data: {
        list: ['a', 'b', 'c', 'd', 'e', 'f', 'g'],
        list1: [
          { name: '小明', age: 22, hobby: ['唱歌', '跳舞', 'rap'] },
          { name: '小红', age: 33, hobby: ['篮球'] },
          { name: '小李', age: 44, hobby: ['吃饭', '睡觉'] }
        ],
        xm: {
          name: '小明',
          age: 33,
          sex: '男'
        }
      }
    })

    console.log(vm)
  </script>
</body>
</html>