<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>
<style>
  .list-item {
    border-bottom: 1px solid;
  }
</style>
<body>
  <div class="app">
    <h3>{{title}}</h3>
    <button v-on:click="count++">+</button>
    <template v-if="count > 0">
      {{count}}
      <button @click="count--">-</button>
    </template>
    <hr />
    <input type="text" v-on:input="changeInput">
    <hr />
    <button @click="e => changeCount(3, e)">+</button>
    {{count}}
    <button @click="changeCount(-3, $event)">-</button>
  </div>

  <script>
    const vm = new Vue({
      // 可以使用 vue 语法的元素
      el: '.app',
      // 定义 vue 变量，会自动添加到 vue 实例对象上
      data: {
        count: 0,
        title: ''
      },
      // 定义函数
      methods: {
        changeInput(e) {
          // console.log('this指向实例对象', this === vm)
          this.count = e.target.value.length
          this.title = e.target.value
          console.log('input输入内容', e.target.value)
        },
        changeCount(n, e) {
          console.log('修改count', n)
          console.log(e.target)
          this.count += n
        }
      }
    })

    console.log(vm)





  </script>
</body>
</html>