<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>
<style>
  .red {
    background: red;
  }
  .green {
    color: green;
  }
  .blue {
    border: 3px solid blue;
  }
  .box {
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
  }
</style>
<body>
  <div class="app">
    <img v-bind:src="img1" width="400" alt="">
    <a :href="href">百度</a>
    <button @click="count++" :disabled="count >= 5">{{count}}</button>
    <hr />
    <button @click="count--">-</button>
    <!-- <div :class="['box', { red: count > 1, green: count > 2, blue: count > 3 }]">box元素</div> -->
    <div class="box" v-bind:style="[{ color: 'red', background: 'green' }, { fontSize: '20px' }]">box</div>
  </div>

  <script>
    const vm = new Vue({
      // 可以使用 vue 语法的元素
      el: '.app',
      // 定义 vue 变量，会自动添加到 vue 实例对象上
      data: {
        count: 0,
        href: 'https://baidu.com',
        img1: 'https://up.enterdesk.com/edpic_source/ce/23/ef/ce23effba97b7d7a4d1a9eea0f469731.jpg'
        
      },
      // 定义函数
      methods: {
      }
    })

    console.log(vm)





  </script>
</body>
</html>