<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>
<style>
</style>
<body>
  <div class="app">
    <h1>{{title}}</h1>
    <!-- <input type="text" :value="title" @input="title = $event.target.value"> -->
    <input type="text" v-model="title">
    <hr />
    <p>姓名: <input type="text" v-model.trim.lazy="form.name"></p>
    <p>年龄: <input type="number" v-model.number="form.age"></p>
    <p>密码: <input type="password" v-model="form.pass"></p>
    <p>城市: 
      <select v-model="form.address">
        <option value="">请选择</option>
        <option value="北京value">北京</option>
        <option value="上海value">上海</option>
        <option value="深圳value">深圳</option>
      </select>
    </p>
    <p>性别: <input type="radio" value="女" name="sex" v-model="form.sex">女
      <input type="radio" value="男" name="sex" v-model="form.sex">男
    </p>
    <p>爱好:
      <input type="checkbox" value="唱歌" v-model="form.hobby">唱歌
      <input type="checkbox" value="跳舞" v-model="form.hobby">跳舞
      <input type="checkbox" value="rap" v-model="form.hobby">rap
      <input type="checkbox" value="篮球" v-model="form.hobby">篮球
    </p>
    <p>记住密码: <input type="checkbox" v-model="form.isRemm"></p>
    <p>备注：<textarea name="" id=""  v-model="form.remark"></textarea></p>
    <button>提交</button>
    {{form}}
  </div>

  <script>
    const vm = new Vue({
      // 可以使用 vue 语法的元素
      el: '.app',
      // 定义 vue 变量，会自动添加到 vue 实例对象上
      data: {
        title: '标题',
        form: {
          name: '',
          age: '',
          pass: '',
          sex: '',
          address: '',
          hobby: [],
          remark: '',
          isRemm: false
        }
      },
      // 定义函数
      methods: {
      }
    })

    console.log(vm)





  </script>
</body>
</html>