<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>
<style>
  nav {
    border: 1px solid;
    width: 300px;
    display: flex;
  }
  nav span {
    flex: 1;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
  }
  nav .active {
    background: orange;
    color: #ffffff;
  }
</style>
<body>
  <div class="app">
    当前高亮下标: {{curIndex}}
    <nav>
      <span
        v-for="(item, index) in tablist"
        :class="{ active: curIndex === index }"
        @click="curIndex = index"
      >{{item.title}} {{index}}</span>
    </nav>
    <ul>
      <li v-for="item in tablist[curIndex].songs">{{item}}</li>
    </ul>
  </div>

  <script>
    const vm = new Vue({
      el: '.app',
      data: {
        curIndex: 0, // 当前高亮下标
        tablist: [
          {
            title: '周杰伦',
            songs: ['晴天', '稻香', '七里香', '反方向的钟', '夜曲']
          },
          {
            title: '凤凰传奇',
            songs: ['月亮之上', '自由飞翔', '荷塘月色', '奢香夫人', '海底']
          },
          {
            title: '林俊杰',
            songs: ['曹操', '江南', '豆浆油条', '美人鱼', '不潮不用花钱']
          }
        ]
      },
      methods: {
      }
    })

    console.log(vm)





  </script>
</body>
</html>