.keyboard {
  flex: 6;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}
.key {
  width: calc((100% - 20px) / 3);
  background: #cccccc;
  margin-bottom: 10px;
  border-radius: 5px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 3px 2px 4px 2px #333333;
}
.down {
  box-shadow: none;
}
.light {
  background: orange;
}