<script setup>
import { useCount } from '../hooks/useCount'

const { count, start, stop, reset } = useCount(5)


</script>

<template>
  <div>
    <h1>关于我们</h1>
    <p>倒计时：{{ count }}s</p>
    <button @click="start">开始</button>
    <button @click="stop">停止</button>
    <button @click="reset">重置</button>
    <p>姓名: <input type="text"></p>
    <p>年龄: <input type="text"></p>
    <p>性别: <input type="text"></p>
    <button>提交</button>
  </div>
</template>

<style lang='scss' scoped>

</style>
