<script setup>
import { ref, onUnmounted, onMounted } from 'vue'
import { useCount } from '../hooks/useCount'

const arr = ref([1,2,3,4,5,6,7])

// 组合式函数(自定义hook)：抽取组件中的公用逻辑
const { formatCount } = useCount(3666, true)



</script>

<template>
  <div>
    <h1>首页</h1>
    <p>秒杀倒计时: {{ formatCount }}</p>
    <!-- <button @click="start">开始</button> -->
    <ul>
      <li v-for="item in arr" :key="item">{{ item }}</li>
    </ul>
  </div>
</template>

<style lang='scss' scoped>

</style>
