<template>
  <div>
    <h1>关于我们</h1>
    <p>store中的count: {{count}}</p>
    <button @click="pushArr">添加数据</button>
    <button @click="changeOdd">{{isOdd ? '奇数' : '全部'}}</button>
    <ul>
      <li v-for="item in curArr" :key="item">{{item}}</li>
    </ul>
  </div>
</template>

<script>
export default {
  computed: {
    count() {
      return this.$store.state.count
    },
    arr() {
      return this.$store.state.arr
    },
    isOdd() {
      return this.$store.state.isOdd
    },
    curArr() {
      return this.$store.getters.curArr
    }
  },
  methods: {
    pushArr() {
      this.$store.commit('push', this.arr.length)
    },
    changeOdd() {
      this.$store.commit('changeOdd')
    }
  }
}
</script>

<style>

</style>