<template>
  <div>
    <h1>首页</h1>
    <p>count: {{count}}</p>
    <button @click="addCount(10)">+</button>
    <div>
      {{curArr}}
    </div>
  </div>
</template>

<script>
import { mapState, mapMutations, mapGetters } from 'vuex'

export default {
  data() {
    return {
    }
  },
  computed: {
    // 辅助函数获取数据
    ...mapState(['count', 'arr', 'isOdd']),
    // 修改变量名
    //  ...mapState({
    //   count1: state => state.count,
    //   arr: state => state.arr
    //  }),
    ...mapGetters(['curArr'])
  },
  methods: {
    ...mapMutations(['addCount']),
    // addCount(...rest) {
    //   // 调用store中的方法修改数据
    //   this.$store.commit('addCount', ...rest)
    // }
  },
  created() {
    // store实例对象
    console.log(this.$store)
  }
}
</script>

<style>

</style>