<template>
  <div class="now" @scroll="scrollFn">
    <div class="film" v-for="item in list" :key="item.filmId" @click="goDetail(item.filmId)">
      <img :src="item.poster" alt="">
      <div class="info">
        <h3>{{item.name}}</h3>
        <p>id: {{item.filmId}}</p>
        <p>评分：{{item.grade}}</p>
        <p class="actors">
          主演：
          <span v-for="val in item.actors" :key="val.name">{{val.name}}</span>
        </p>
      </div>
    </div>
    <!-- <div class="loading" v-if="isLoading">
      <div class="text">加载中</div>
    </div> -->
  </div>
</template>

<script>
import axios from 'axios'
export default {
  data() {
    return {
      list: [],
      pageNum: 1,
      isMore: true,
      isLoading: false
    }
  },
  methods: {
    async getList() {
      this.isLoading = true
      const res = await axios.get('https://m.maizuo.com/gateway', {
        params: {
          cityId: 110100,
          pageNum: this.pageNum,
          pageSize: 10,
          type: 1,
          k: 9749125
        },
        headers: {
          'X-Client-Info': '{"a":"3000","ch":"1002","v":"5.2.1","e":"1697785287468761320620033","bc":"110100"}',
          'X-Host': 'mall.film-ticket.film.list'
        }
      })
      this.list = this.list.concat(res.data.data.films)
      this.isMore = this.list.length < res.data.data.total
      this.isLoading = false
    },
    goDetail(id) {
      // 路由跳转通过 query 传参数
      // this.$router.push(`/detail?id=${id}&a=100`)
      // this.$router.push({
      //   path: '/detail',
      //   query: {
      //     id,
      //     a: 100
      //   }
      // })

      // 动态路由传参数
      // this.$router.push(`/detail/${id}`)
      this.$router.push({
        name: 'detail',
        params: {
          filmId: id
        },
        query: {
          a: 100,
          b: 200,
          c: JSON.stringify({ name: '小明', age: 22})
        }
      })
    },
    scrollFn(e) {
      if (!this.isMore) return
      if (this.isLoading) return
      const { scrollTop, clientHeight, scrollHeight } = e.target
      if (scrollTop + clientHeight >= scrollHeight) {
        console.log('到底了')
        this.pageNum++
        this.getList()
      }
    }
  },
  created() {
    this.getList()
  }
}
</script>

<style lang="scss" scoped>
.now {
  height: 100%;
  overflow: auto;
}
.film {
  display: flex;
  padding: 15px;
  border-bottom: 1px solid;
  img {
    width: 66px;
    height: 98px;
  }
  .info {
    flex: 1;
    overflow: hidden;
  }
}
.actors {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba($color: #000000, $alpha: .5);
  .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ffffff;
    padding: 5px 10px;
  }
}
</style>