<template>
  <div class="movie" @scroll="scrollFn">
    <nav>
      <router-link replace to="/home/movie/now">正在热映</router-link>
      <router-link replace to="/home/movie/coming">即将上映</router-link>
    </nav>
    <div class="list">
      <router-view />
    </div>
    <div class="fixed" v-show="scrollTop > 200">
      <div class="title">
        <router-link to="/city">{{curCity}}</router-link>
        <b>电影</b>
      </div>
      <nav>
        <router-link replace to="/home/movie/now">正在热映</router-link>
        <router-link replace to="/home/movie/coming">即将上映</router-link>
      </nav>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      scrollTop: 0,
      curCity: localStorage.getItem('curCity')
    }
  },
  methods: {
    scrollFn(e) {
      const { scrollTop, clientHeight, scrollHeight } = e.target
      this.scrollTop = scrollTop
      if (scrollTop + clientHeight >= scrollHeight) {
        console.log('到底了')
        this.$bus.$emit('getNextPage')
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.movie {
  height: 100%;
  overflow: auto;
}
.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #ffffff;
}
.title {
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-bottom: 1px solid #eeeeee;
  position: relative;
  a {
    width: 60px;
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
  }
}
nav {
  height: 40px;
  border-bottom: 1px solid #dddddd;
  display: flex;
  a {
    flex: 1;
    text-align: center;
    line-height: 40px;
    &.router-link-active {
      color: tomato;
    }
  }
}
</style>