@import '../../style/common.scss';

.app {
  height: 100%;
  display: flex;
  flex-direction: column;
}


main {
  flex: 1;
  overflow: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  input {
    height: 40px;
  }
  textarea {
    flex: 1;
    margin-top: 20px;
    padding: 10px;
  }
}

footer {
  height: 60px;
  padding: 10px 20px;
  border-top: 1px solid #cccccc;
  button {
    width: 100%;
    height: 40px;
    background: var(--primary-color);
    color: var(--primary-text-color);
  }
}