<script setup lang="ts">
import { ref } from 'vue'

interface Props {
  num: number;
  remark: string;
  list: number[];
}

interface Emits {
  (e: 'change', n: number): void;
  (e: 'changeTitle', t: string): void;
}

// 通过泛型定义props的类型
const props = defineProps<Props>()

const emits = defineEmits<Emits>()

console.log(props.list)

const changeParentTitle = () => {
  // 调用父组件传入的事件
  emits('changeTitle', Math.random() + '')
}

const xm = ref({
  name: '小明',
  age: 22
})

const addAge = (n: number) => {
  xm.value.age += n
}
// 暴露给父组件的变量
defineExpose({
  addAge
})
</script>

<template>
  <div class="box">
    <h2>子组件</h2>
    <p>父组件的count: {{ num }}</p>
    <button @click="emits('change', 2)">num+2</button>
    <button @click="changeParentTitle">修改父组件的标题</button>
    <div>
      <p>姓名：{{ xm.name }}</p>
      <p>年龄: {{ xm.age }}</p>
    </div>
  </div>
</template>

<style lang='scss' scoped>
.box {
  border: 1px solid;
  padding: 20px;
}
</style>
