<script setup>
import { onMounted } from 'vue'
// 接收 props
const props = defineProps(['count', 'title'])
// 接收自定义事件
const emit = defineEmits(['change', 'changeTitle'])

onMounted(() => {
  console.log(props.title)
})

const add = () => {
  // 调用父组件传入的事件
  emit('change', -2)
}

const randomTitle = () => {
  emit('changeTitle', Math.random())
}

</script>

<template>
  <div class="child">
    <h2>我是子组件</h2>
    <p>父组件的 title: {{ title }} <button @click="randomTitle">修改title</button></p>
    <p>父组件的 count: {{ count }}
      <button @click="$emit('change', -1)">-1</button>
      <button @click="emit('change', -1)">-1</button>
      <button @click="add">-2</button>
    </p>
  </div>
</template>

<style lang='scss' scoped>
.child {
  border: 1px solid;
  padding: 20px;
}
</style>
