<script setup>
const emits = defineEmits(['close'])
</script>

<template>
  <div class="dialog" @click.self="emits('close')">
    <div class="content"></div>
  </div>
</template>

<style lang='scss' scoped>
.dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba($color: #000000, $alpha: .5);
}
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 300px;
  transform: translate(-50%, -50%);
  background: #ffffff;
}
</style>
