<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>
<style></style>
<body>
  <div class="app">
    <h1>{{title}}</h1>
    <input type="text" v-model="title">
    <button @click="count++">count: {{count}}</button>
    <button @click="arr.push(arr.length + 1)">push</button>
    <p>arr: {{arr}}</p>

    <p>len: {{len}}</p>
    <p>len: {{len}}</p>
    <p>len: {{len}}</p>
    <p>len: {{len}}</p>
    <p>len: {{len}}</p>
    <p>len: {{len}}</p>
    <hr />
    <button @click="len = 100">修改len</button>
    <input type="text" v-model="test">
    <p>{{test}}</p>


  </div>

  <script>
    const vm = new Vue({
      el: '.app',
      data: {
        title: '标题',
        count: 0,
        arr: [1,2,3,4,5,6,7,8],
        test: '测试'
      },
      methods: {
        getLen() {
          const total = this.arr.reduce((prev, val) => {
            console.log('计算总数')
            return prev + val
          })
          return total + this.title.length + this.count
        }
      },
      // 计算属性：当一个变量是由其他响应式变量生成时，可以使用计算属性
      // 计算属性必须有return
      // 计算属性有缓存，计算属性中使用的响应式变量有更新时会自动重新执行函数计算结果，没有更新就直接从缓存中读取
      computed: {
        len() {
          const total = this.arr.reduce((prev, val) => {
            console.log('计算属性')
            return prev + val
          })
          return total + this.title.length
        }
      }
    })
  </script>
</body>
</html>