<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>
<style></style>
<body>
  <div class="app">
    <input type="text" placeholder="搜索" v-model="text">
    <ul>
      <li v-for="val in curList" :key="val">{{val}}</li>
    </ul>
  </div>

  <script>
    const vm = new Vue({
      el: '.app',
      data: {
        text: '',
        arr: ['asdfytiur', 't4ruedixs', 'tre3wqasd', 'dswfdsx']
      },
      // 计算属性：当一个变量是由其他响应式变量生成时，可以使用计算属性
      // 计算属性必须有return
      // 计算属性有缓存，计算属性中使用的响应式变量有更新时会自动重新执行函数计算结果，没有更新就直接从缓存中读取
      computed: {
        curList() {
          return this.arr.filter(v => {
            return v.includes(this.text)
          })
        }
      }
    })
  </script>
</body>
</html>