<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>
<style></style>
<body>
  <div class="app">
    <button @click="count--">-</button>
    {{count}}
    <button @click="count++">+</button>
    <button @click="count+=10">+10</button>
    <hr />
    <input type="text" v-model="text">
    <hr />
    <button @click="obj = {a: 100}">修改obj</button>
    <button @click="obj.a.b.c.d++">obj.a.b.c.d</button>
    <button @click="obj.name = Math.random()">obj.name</button>
    <button @click="obj.age++">obj.age</button>
    {{obj}}
  </div>

  <script>
    const vm = new Vue({
      el: '.app',
      data: {
        count: Number(localStorage.getItem('count') || 0),
        text: '',
        obj: {
          name: '小明',
          age: 22,
          a: {
            b: {
              c: {
                d: 22
              }
            }
          }
        }
      },
      computed: {
      },
      watch: {
        // 监听count改变时自动执行此函数
        // count(newVal, oldVal) {
        //   // console.log(newVal, oldVal)
        //   localStorage.setItem('count', this.count)
        // },
        // text() {
        //   // 监听输入框改变，调用接口
        //   setTimeout(() => {
        //     console.log('接口返回搜索的结果')
        //   }, 1000)
        // }

        // 监听对象改变，无法监听到对象内部的属性修改，只能监听到 obj 重新赋值
        // obj() {
        //   console.log('this.obj改变了', this.obj)
        // }

        // 深度监听: 可以监听到对象内部所有属性的修改
        // obj: {
        //   handler(){
        //     console.log('this.obj改变了', this.obj)
        //   },
        //   deep: true,
        // },

        // 监听对象指定的属性变化
        // 'obj.age'() {
        //   console.log('obj.age改变了', this.obj.age)
        // },

        // 进入页面后立即执行一次
        count: {
          handler(newVal, oldVal) {
            console.log('count的watch函数')
            localStorage.setItem('count', this.count)
          },
          immediate: true
        }
      }
    })
  </script>
</body>
</html>