<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>
<style>
  li {
    padding: 10px;
    border-bottom: 1px solid;
  }
</style>
<body>
  <div class="app">
    <ul>
      <li v-for="item in list" :key="item.name">
        <input type="checkbox" v-model="item.checked">
        {{item.name}}
        <p>价格：¥{{item.price}}</p>
        <button @click="item.count--">-</button>
        {{item.count}}
        <button @click="item.count++">+</button>
      </li>
    </ul>
    <footer>
      <p>全选: <input type="checkbox" v-model="checkAll" @change="changeAll"></p>
      <p>总价： ¥{{total}}</p>
    </footer>
    {{list}}
  </div>

  <script>
    const vm = new Vue({
      el: '.app',
      data: {
        checkAll: false,
        list: [
          { name: '苹果', price: 5, count: 1, checked: true },
          { name: '香蕉', price: 10, count: 2, checked: true },
          { name: '梨', price: 12, count: 3, checked: true }
        ]
      },
      computed: {
        total() {
          return this.list.reduce((prev, val) => {
            return prev + val.price * val.count
          }, 0)
        }
      },
      watch: {
        list: {
          handler() {
            console.log('list改变了')
            this.checkAll = this.list.every(v => v.checked)
          },
          deep: true,
          immediate: true
        }
      },
      methods: {
        changeAll() {
          this.list.forEach(v => {
            v.checked = this.checkAll
          })
        }
      }
    })
  </script>
</body>
</html>