<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>
<style>
  td {
    padding: 0 10px;
  }
  .dialog {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
  }
  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    height: 300px;
    background: #ffffff;
  }
</style>
<body>
  <div class="app">
    <button @click="checkAll(true)">全选</button>
    <button @click="checkAll()">反选</button>
    <button @click="checkAll(false)">全不选</button>
    <button @click="delGroup">批量删除</button>
    <button @click="list = []">清空</button>
    <button @click="list.reverse()">倒序</button>
    <button @click="showDialog = true">新增</button>
    <input type="text" v-model="searchText">
    <table border="1">
      <thead>
        <tr>
          <th>选中状态</th>
          <th>名称</th>
          <th>产地</th>
          <th>数量</th>
          <th>价格</th>
          <th>小计</th>
          <th>生产时间</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(item, index) in curList" :key="item.id">
          <td><input type="checkbox" v-model="item.checked"></td>
          <td>{{item.name}}</td>
          <td>{{item.address}}</td>
          <td>
            <button @click="item.count--">-</button>
            {{item.count}}
            <button @click="item.count++">+</button>
          </td>
          <td>¥{{item.price}}</td>
          <td>¥{{item.count * item.price}}</td>
          <td>{{item.createTime}}</td>
          <td>
            <button @click="del(item.id)">删除</button>
            <button @click="clickEdit(item)">编辑</button>
          </td>
        </tr>
        <tr>
          <td colspan="4">总价：¥{{total.price}}</td>
          <td colspan="4">总数：{{total.count}}</td>
        </tr>
      </tbody>
    </table>
    <div class="dialog" v-if="showDialog" @click.self="showDialog = false">
      <div class="content">
        <div class="row">名称: <input v-model.trim="form.name" type="text" placeholder="请输入名称"></div>
        <div class="row">产地: <input v-model.trim="form.address" type="text" placeholder="请输入产地"></div>
        <div class="row">价格: <input v-model.number="form.price" type="number" placeholder="请输入价格"></div>
        <div class="btns">
          <button @click="showDialog = false">取消</button>
          <button @click="confirm">确定</button>
        </div>
      </div>
    </div>
  </div>

  <script>
    const vm = new Vue({
      el: '.app',
      data: {
        editRow: null,
        form: {
          name: '',
          address: '',
          price: ''
        },
        showDialog: false,
        searchText: '',
        list: JSON.parse(localStorage.getItem('list'))
      },
      computed: {
        total() {
          return this.list.reduce((prev, val) => {
            return {
              count: prev.count + val.count,
              price: prev.price + val.count * val.price,
            }
          }, { count: 0, price: 0 })
        },
        curList() {
          return this.list.filter(v => {
            return v.name.includes(this.searchText)
          })
        }
      },
      watch: {
        showDialog() {
          // 弹窗关闭时，遍历对象数据置空
          if (!this.showDialog) {
            Object.keys(this.form).forEach(key => {
              this.form[key] = ''
            })
          }
        },
        list: {
          handler() {
            localStorage.setItem('list', JSON.stringify(this.list))
          },
          deep: true
        }
      },
      methods: {
        checkAll(type) {
          if (typeof type === 'boolean') {
            this.list.forEach(v => v.checked = type)
          } else {
            this.list.forEach(v => v.checked = !v.checked)
          }
        },
        delGroup() {
          this.list = this.list.filter(v => !v.checked)
        },
        del(id) {
          if (window.confirm('确定要删除吗?')) {
            const index = this.list.findIndex(v => v.id === id)
            if (index > -1) {
              this.list.splice(index, 1)
            }
          }
        },
        clickEdit(row) {
          // 记录要编辑的对象
          this.editRow = {...row}
          this.showDialog = true
          this.form = {
            name: row.name,
            address: row.address,
            price: row.price
          }
        },
        confirm() {
          if (this.editRow) {
            // 根据要编辑的id去所有数据中查找下标
            const index = this.list.findIndex(v => v.id === this.editRow.id)
            // 使用弹窗表单的数据替换原数据
            this.list.splice(index, 1, {
              ...this.editRow,
              ...this.form
            })
            this.editRow = null
            this.showDialog = false
          } else {
            // 确定新增
            this.list.push({
              ...this.form,
              id: Date.now(),
              checked: false,
              count: 1,
              createTime: new Date().toLocaleString()
            })
            this.showDialog = false
          }
        }
      }
    })
  </script>
</body>
</html>