<script setup>
import { ref } from 'vue'

const count = ref(0)

const add = n => {
  count.value += n
}

// 抛出允许父组件通过 ref 调用的方法
defineExpose({
  add
})

</script>

<template>
  <div class="child">
    <h2>我是子组件</h2>
    <p>count: {{ count }}</p>
    <button @click="add(1)">add</button>
  </div>
</template>

<style lang='scss' scoped>
.child {
  border: 1px solid;
  padding: 20px;
}
</style>
