<template>
  <div style="padding: 20px">
    <el-table :data="films" style="width: 100%">
      <el-table-column prop="id" label="id" width="180"></el-table-column>
      <el-table-column prop="name" label="姓名" width="180"></el-table-column>
      <el-table-column prop="sex" label="性别"></el-table-column>
      <el-table-column prop="age" label="年龄"></el-table-column>

    </el-table>

    <el-pagination
      background
      :current-page="pageNum"
      :page-sizes="[5, 10, 20, 30]"
      :page-size="pageSize"
      layout="total, sizes, prev, pager, next, jumper"
      :total="total"
      @current-change="changePage"
      @size-change="changeSize"
    >
    </el-pagination>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  data() {
    return {
      films: [],
      total: 0,
      pageNum: 1,
      pageSize: 5
    }
  },
  methods: {
    async getList() {
      const res = await axios.get('/api/list')
      console.log(res.data)
      this.films = res.data
    },
    changeSize(size) {
      console.log('当前每页多少条', size)
      this.pageSize = size
      this.getList()
    },
    changePage(page) {
      console.log('当前第几页', page)
      this.pageNum = page
      this.getList()
    }
  },
  created() {
    this.getList()
  }
}
</script>

<style>

</style>