<template>
  <div class="box">
    <h2>{{title}}</h2>
    <button @click="changecount(-1)">-</button>
    {{count}}
    <button @click="changecount(1)">+</button>
  </div>
</template>

<script>
export default {
  // 接收组件传入的参数
  props: ['title', 'count'],
  methods: {
    changecount(n) {
      // 子组件不能修改props传入的数据，数组只能在定义的组件中修改
      console.log('调用父组件传入的自定义事件修改count')
      // 通过$emit调用父组件传入的自定义事件
      this.$emit('add', n)
    }
  },
}
</script>

<style lang="scss" scoped>
.box {
  border: 1px solid red;
  padding: 20px;
}
</style>