<template>
  <div>
    <el-table :data="tableData" style="width: 100%">
      <el-table-column prop="date" label="日期" width="180"></el-table-column>
      <el-table-column prop="name" label="姓名" width="180"></el-table-column>
      <el-table-column label="爱好" width="180">
        <template slot-scope="scope">
          <!-- {{scope.row.hobby}} -->
          <el-tag v-for="item in scope.row.hobby" :key="item">{{item}}</el-tag>
        </template>
      </el-table-column>
      <el-table-column prop="address" label="地址"></el-table-column>
      <el-table-column label="操作">
        <template slot-scope="scope">
          <el-button type="text" size="small" @click="look(scope)">查看</el-button>
          <el-button type="text" size="small">编辑</el-button>
        </template>
      </el-table-column>
    </el-table>
  </div>
</template>

<script>
export default {
  data() {
    return {
      tableData: [{
        date: '11111',
        name: '王小虎11111',
        hobby: ['吃饭', '睡觉'],
        address: '上海市普陀区金沙江路 1111111 弄'
      }, {
        date: '222',
        name: '王小虎2222',
        hobby: ['烫头', '睡觉'],
        address: '上海市普陀区金沙江路 222222 弄'
      }, {
        date: '33333',
        name: '王小虎3333',
        hobby: ['唱歌', '跳舞'],
        address: '上海市普陀区金沙江路 3333 弄'
      }, {
        date: '44444',
        name: '王小虎4444',
        hobby: ['rap', '篮球'],
        address: '上海市普陀区金沙江路 44444 弄'
      }]
    }
  },
  methods: {
    look(scope) {
      console.log(scope.$index, scope.row)
      this.$confirm(scope.row, '查看', {
        confirmButtonText: '确定'
      })
      .then(() => {
        console.log('点击了确定')
      })
      .catch(e => {
        console.log('点击了取消')
      })
    }
  }
}
</script>

<style>

</style>