<script setup lang="ts">
import { ref } from 'vue'
import Count from '../components/Count.vue'

const title = ref('标题')
const count = ref(0)
// 定义子组件类型
const childRef = ref<InstanceType<typeof Count>>()

const add = (n: number) => {
  count.value += n
}
const changeTitle = (t: string) => {
  title.value = t
}

const getChild = () => {
  // console.log(childRef.value)
  childRef.value?.addAge(3)
}
</script>

<template>
  <h1>{{ title }}</h1>
  <p>count: {{ count }} <button @click="add(1)">+</button></p>
  <button @click="getChild">修改子组件的年龄</button>
  <Count
    ref="childRef"
    :num="count"
    remark="aaaaaa"
    :list="[1,2,3]"
    @change="add"
    @changeTitle="changeTitle"
  />
</template>

<style lang='scss' scoped>

</style>
