<script setup lang="ts">
import { ref, reactive } from 'vue'

interface ArrItem {
  name: string;
  age: number;
}

const title = ref('标题')
const count = ref(0)
const arr = ref<ArrItem[]>([])
const arr1 = reactive<ArrItem[]>([])
const titleRef = ref<HTMLHeadingElement>()

const add = (n: number) => {
  count.value += n
  console.log(titleRef.value?.outerHTML)
}

const push = () => {
  arr.value.push({ name: Math.random() + '', age: Date.now() })
  arr1.push({ name: Math.random() + '', age: Date.now() })
}

</script>

<template>
  <div>
    <h1 ref="titleRef">{{ title }}</h1>
    <p>
      <button @click="add(-1)">-</button>
      {{ count }}
      <button @click="add(1)">+</button>
    </p>
    <button @click="push">添加</button>
    <ul>
      <li v-for="item in arr" :key="item.name">
        <p>name: {{ item.name }}</p>
        <p>age: {{ item.age }}</p>
      </li>
    </ul>
    {{ arr1[0]?.name }}
  </div>
</template>

<style lang='scss' scoped>

</style>
