.title {
  padding: 15px;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
}
.hot {
  li {
    padding: 0 15px;
    line-height: 30px;
  }
  span {
    margin-right: 8px;
  }
  .red {
    color: tomato;
  }
  img {
    height: 15px;
    vertical-align: middle;
    margin-left: 10px;
  }
}
.history {
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
  li {
    background: #cccccc;
    margin-bottom: 10px;
    padding: 2px 10px;
    margin-right: 10px;
    border-radius: 20px;
    font-size: 12px;
  }
}