<template>
  <div id="app">
    <nav>
      <router-link to="/">首页</router-link>
      <router-link to="/detail">详情</router-link>
      <router-link to="/search">搜索</router-link>
      <router-link to="/list">列表</router-link>
      <router-link to="/tableList">tableList</router-link>
    </nav>
    <router-view/>
  </div>
</template>

<style lang="scss">
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#app {
  height: 100vh;
}
li {
  list-style-type: none;
}
nav {
  border-bottom: 1px solid;
  padding: 20px;
  a {
    margin: 0 10px;
  }
}
</style>
