<template>
  <div>
    <h2>{{info.title}}</h2>
    <img :src="info.img" width="300" alt="">
    <p>价格：¥{{info.price}}</p>
  </div>
</template>

<script>
import { getAllData } from '../../api'
export default {
  data() {
    return {
      info: {}
    }
  },
  async created() {
    const list = await getAllData()
    this.info = list.find(v => Number(this.$route.params.id) === v.item_id)
    console.log(this.info)
  }
}
</script>

<style>

</style>