<script setup lang="ts">
import { ref, reactive } from 'vue'
import {
  useFoodStore,
  type Food
} from '../stores/food'

interface NavItem {
  title: string;
  list: Food[];
  min: number;
  max?: number;
  subTitle: string;
}

const foodStore = useFoodStore()
const curIndex = ref(0)

const navList = reactive<NavItem[]>([
  {
    title: '放心食用',
    list: [],
    min: 0,
    max: 40,
    subTitle: '以下食物升糖指数较低，可以放心食用'
  },
  {
    title: '适量食用',
    list: [],
    min: 41,
    max: 70,
    subTitle: '以下食物升糖指数适中，可以适量食用'
  },
  {
    title: '建议少吃',
    list: [],
    min: 71,
    subTitle: '以下食物升糖指数偏高，建议少吃'
  },
])

navList.forEach(item => {
  item.list = foodStore.selected.filter(v => {
    const max = item.max || Number.MAX_VALUE
    const glycemicIndex = Number(v.glycemicIndex)
    return glycemicIndex >= item.min && glycemicIndex < max
  })
})
</script>

<template>
  <div class="page">
    <div class="header">
      <div
        v-for="(item, index) in navList"
        :key="item.title"
        :class="['item', { active: curIndex === index }]"
        @click="curIndex = index"
      >
        <h3>{{ item.title }}</h3>
        <p>{{ item.list.length }}</p>
      </div>
    </div>
    <div class="list">
      <h3>{{ navList[curIndex].subTitle }}</h3>
      {{ navList[curIndex].list }}
    </div>
  </div>
</template>

<style lang='scss' scoped>
.page {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.header {
  height: 100px;
  display: flex;
  .item {
    flex: 1;
    text-align: center;
  }
  .active {
    color: tomato;
  }
}
.list {
  flex: 1;
  overflow: auto;
  background: #eee;
}
</style>
