<script setup lang="ts">
import { ref } from 'vue'
import { useRoute } from 'vue-router'
import type { Food } from '../stores/food'

const route = useRoute()

const food: Food = JSON.parse(decodeURIComponent(route.query.food as string))
console.log(food)

</script>

<template>
  <h1>详情页面</h1>
  <h2>{{ food.name }}</h2>
  <img :src="food.imgUrl" alt="">
</template>

<style lang='scss' scoped>

</style>
