<script setup lang="ts">
import { ref, reactive } from 'vue'
import {
  useFoodStore,
  type Food
} from '../stores/food'
import Selected from '../components/Selected.vue'
import { useRouter } from 'vue-router'

const router = useRouter()
const curIndex = ref(0)
const foodStore = useFoodStore()


const goDetail = (food: Food) => {
  router.push({
    path: `/detail/${food.name}`,
    query: {
      food: encodeURIComponent(JSON.stringify(food))
    }
  })
}

if (foodStore.food.length === 0) {
  foodStore.getFood()
}
</script>

<template>
  <div class="page">
    <div class="wrap">
      <nav>
        <p
          v-for="(item, index) in foodStore.food"
          :key="item.name"
          :class="{ active: curIndex === index }"
          @click="curIndex = index"
        >{{ item.name }}</p>
      </nav>
      <main>
        <div
          v-for="item in foodStore.food[curIndex]?.list"
          :key="item.name"
          :class="['food', { active: item.isActive }]"
        >
          <img :src="item.imgUrl" alt="" @click="foodStore.change(item)">
          <p @click="goDetail(item)">{{ item.name }}</p>
        </div>
      </main>
    </div>
    <Selected v-if="foodStore.selected.length > 0" />
  </div>
</template>

<style lang='scss' scoped>
.page {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.wrap {
  flex: 1;
  overflow: hidden;
  display: flex;
  nav {
    width: 100px;
    background: #dddddd;
    p {
      line-height: 40px;
      text-align: center;
      font-size: 12px;
    }
    .active {
      background: tomato;
    }
  }
  main {
    flex: 1;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
  }
}
.food {
  width: calc(100% / 3);
  text-align: center;
  padding-top: 16px;
  img {
    width: 60px;
    height: 60px;
    border-radius: 5px;
    object-fit: cover;
  }
  p {
    line-height: 26px;
    font-size: 14px;
  }
  &.active {
    img {
      border: 1px solid tomato;
    }
  }
}

</style>
