<template>
  <div id="app">
    <Header />
    <Content />
  </div>
</template>

<script>
import Header from './components/Header.vue'
import Content from './components/Content.vue'

export default {
  name: 'App',
  data() {
    return {
    }
  },
  created() {
  },
  components: {
    Header,
    Content
  }
}
</script>

<style lang="scss" scoped>
#app {
  display: flex;
  flex-direction: column;
}
</style>
