<template>
  <div id="app">
    <h1>组件</h1>
    <button @click="visible = true">新增</button>
    <Dialog
      v-if="visible"
      title="我是弹窗标题"
      :info="{ a: 100, b: 200 }"
      sex="男"
      :showClose="true"
      @close="visible = false"
    >
      <template v-slot:default="obj">
        <div class="row">姓名： <input type="text"></div>
        <div class="row">年龄： <input type="text"></div>
        <!-- obj: 作用域插槽，可以在插槽内使用组件内部的变量 -->
        {{obj}}
      </template>
      <!-- 具名插槽 -->
      <template #footer="obj">
        {{obj}}
        <button>我是footer</button>
      </template>
    </Dialog>

    <button @click="visible2 = true">查看</button>
    <Dialog
      v-if="visible2"
      title="查看图片"
      sex="男"
      :showClose="false"
      @close="visible2 = false"
    >
      <a href="https://www.baiud.com">跳转百度</a>
    </Dialog>
  </div>
</template>

<script>
import Dialog from './components/Dialog.vue'
export default {
  name: 'App',
  data() {
    return {
      visible: false,
      visible2: false,
      a: 'ABCDEFG'
    }
  },
  components: {
    Dialog
  }
}
</script>

<style lang="scss">
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
</style>
