.detail {
  height: 100vh;
  overflow: auto;
  header {
    padding-top: 20px;
    h3 {
      text-align: center;
    }
    ul {
      display: flex;
      justify-content: center;
      padding: 10px;
      li {
        position: relative;
        padding: 0 6px;
        margin: 0 2.5px;
        font-size: 10px;
        border: 1px solid #ffb232;
        color: #ffb232;;
      }
    }
    p {
      line-height: 50px;
      padding-left: 20px;
      font-size: 14px;
      border-bottom: 1px solid #dddddd;
    }
  }
}
.swiperFilm {
  height: 160px;
  padding: 15px 0;
  position: relative;
}
.bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  overflow: hidden;
  .imgBg {
    filter: blur(30px);
    width: 100%;
    height: 100%;
  }
}
.titleBar {
  height: 40px;
  position: sticky;
  top: 0;
  line-height: 40px;
  z-index: 10;
  .back {
    position: absolute;
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 14px;
  }
  .title {
    text-align: center;
    background: #ffffff;
  }
}

.swiper {
  height: 130px;
}
.slide {
  .filmImg {
    width: 72px;
    height: 104px;
    overflow: hidden;
    margin: 0 auto;
    transition: all 0.3s linear;
    margin-top: 26px;
  }
  img {
    width: 100%;
    height: 100%;
  }
  &.active {
    width: 90px;
    height: 130px;
    .filmImg {
      width: 90px;
      height: 130px;
      margin-top: 0;
    }
  }
}
.filmDesc {
  width: 100%;
  height: 132px;
  background: #ffffff;
  .fixed {
    position: fixed;
    top: 40px;
    left: 0;
    width: 100%;
    height: 132px;
    background: #ffffff;
  }
}
.film {
  text-align: center;
  border-bottom: 1px solid #ededed;
  padding-bottom: 20px;
  position: relative;
  &::before {
    position: absolute;
    top: -7px;
    left: 50%;
    transform: translateX(-50%) rotate(-45deg);
    border: 7px solid #ffffff;
    border-left-color: transparent;
    border-bottom-color: transparent;
    content: '';
  }
  h3 {
    font-size: 15px;
    font-weight: normal;
    padding: 10px 0;
  }
  p {
    color: #797d82;
    font-size: 13px;
    padding: 0 12%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
.days {
  border-bottom: 1px solid #cccccc;
  display: flex;
  overflow-x: auto;
  &::-webkit-scrollbar {
    display: none;
  }
  p {
    line-height: 50px;
    padding: 0 10px;
  }
  .active {
    color: #ffb232;
    border-bottom: 1px solid #ffb232;
  }
}
.schedulesItem {
  border-bottom: 1px solid #cccccc;
  padding: 15px;
  display: flex;
  .time {
    width: 86px;
    overflow: hidden;
  }
  .filmLanguage {
    flex: 1;
    overflow: hidden;
    p {
      font-size: 12px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
  .price {
    width: 96px;
    display: flex;
    align-items: center;
    button {
      margin-left: 10px;
    }
  }
}