<template>
  <div class="bottle-wrap">
    <div class="bottle" :class="{ active }">
      <img :src="src" alt="">
      <h3>{{title}}</h3>
      <p>{{price}}</p>
      <button>添加</button>
      <span @click="$emit('changeActive')">
        {{active ? '✅' : '+'}}
      </span>
    </div>
  </div>
</template>

<script>
export default {
  props: ['title', 'src', 'price', 'active']
}
</script>

<style lang="scss" scoped>

.bottle-wrap {
  width: 25%;
  padding: 10px;
}
.bottle {
  background: #24252a;
  height: 100%;
  color: #cecece;
  text-align: center;
  padding: 20px 0;
  position: relative;
  img {
    width: 150px;
    height: 150px;
  }
  h3 {
    height: 50px;
    padding: 0 20px;
  }
  p {
    margin: 15px 0;
  }
  button {
    padding: 10px 30px;
  }
  span {
    font-weight: bold;
    font-size: 30px;
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
  }
}
.active {
  border: 1px solid #797bed;
}
</style>