<template>
  <div class="compare">
    <div class="item" v-for="item in topList" :key="item.title">
      <img :src="item.src" alt="">
      <h3>{{item.title}}</h3>
      <p>{{item.price}}</p>
      <p>{{item.year}}</p>
    </div>
    <div class="close" @click="$emit('close')">x</div>
  </div>
</template>

<script>
export default {
  props: ['topList']
}
</script>

<style lang="scss" scoped>
.compare {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: red;
  display: flex;
}
.item {
  flex: 1;
  text-align: center;
  background: #212226;
  &:nth-child(odd) {
    background: #24252a;
  }
}
.close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 50px;
  cursor: pointer;
}
</style>