<template>
  <div class="header">
    <ul>
      <li v-for="item in topList" :key="item.title">
        <img :src="item.src" alt="">
        <span @click="$emit('changeActive', item)">x</span>
      </li>
      <li v-if="topList.length < 3"></li>
    </ul>
    <button :disabled="topList.length < 2" @click="$emit('onCompare')">比较</button>
  </div>
</template>

<script>
export default {
  props: ['topList']
}
</script>

<style lang="scss" scoped>
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: rgba($color: #090909, $alpha: 0.5);
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  padding: 10px 20px;
  button {
    width: 80px;
    background: #494bc7;
    border: none;
    color: #ffffff;
    &:disabled {
      background: #34363d;
      color: #999999;
    }
  }
  ul {
    display: flex;
    flex-direction: row-reverse;
    li {
      width: 40px;
      height: 40px;
      background: #2c2d34;
      margin-right: 10px;
      list-style-type: none;
      position: relative;
      img {
        width: 100%;
      }
      span {
        position: absolute;
        right: 0;
        top: 0;
        width: 20px;
        height: 20px;
        color: #ffffff;
        font-size: 20px;
        text-align: center;
        line-height: 20px;
        background: red;
        cursor: pointer;
        transform-origin: right top;
        transform: scale(0.5);
      }
    }
  }
}
</style>