.box {
  background: red;
  padding: 20px;

  :global {
    // 此处类名不需要css module 编译
    .desc {
      border: 5px solid blue;
    }
  }

  // :global(.desc) {
  //   border: 5px solid blue;
  //   font-size: 50px;
  // }
}
.title {
  color: yellow;
}
.big {
  font-size: 50px;
}