<script setup lang="ts">
import { ref } from 'vue'
import { useFoodStore } from '../stores/food'
import { useRouter } from 'vue-router'

const router = useRouter()
const foodStore = useFoodStore()

const goAbout = () => {
  router.push('/about')
}

</script>

<template>
  <div class="selected">
    <div class="header">
      <b>已选食物({{ foodStore.selected.length }}个)</b>
      <button @click="goAbout">去测评</button>
    </div>
    <ul>
      <li
        v-for="item in foodStore.selected"
        :key="item.name"
        @click="foodStore.change(item)"
      >{{ item.name }}</li>
    </ul>
  </div>
</template>

<style lang='scss' scoped>
.selected {
  max-height: 300px;
  display: flex;
  flex-direction: column;
  ul {
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    li {
      border: 1px solid;
      padding: 5px 10px;
      margin: 10px;
    }
  }
}
.header {
  height: 40px;
  border-bottom: 1px solid #dddddd;
  display: flex;
  justify-content: space-between;
  padding: 0 10px
}

</style>
