<template>
  <div class="home">
    <Menu />
    <div class="content">
      <Header />
      <div class="router-content">
        <router-view />
      </div>
    </div>
  </div>
</template>

<script>
import Menu from '../../components/Menu.vue'
import Header from '../../components/Header.vue'

export default {
  components: {
    Menu,
    Header
  }
}
</script>

<style lang="scss" scoped>
.home {
  width: 100%;
  height: 100%;
  display: flex;
}
.content {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.router-content {
  flex: 1;
  overflow: auto;
  padding: 20px;
  background: #dddddd;
}
</style>