
.username {
  display: flex;
  input {
    width: 140px;
    height: 30px;
  }
  ul {
    flex: 1;
    display: flex;
    .item {
      width: 35px;
      margin-left: 5px;
      overflow: hidden;
      border-radius: 4px;
      cursor: pointer;
      opacity: 0.5;
      &:hover, &.active {
        opacity: 1;
        border: 1px solid tomato;
      }
    }
    img {
      width: 100%;
      vertical-align: middle;
    }
  }
}
.content {
  padding: 15px 0;
  textarea {
    width: 100%;
    border: 1px solid #333333;
    height: 100px;
    border-radius: 5px;
    resize: none;
    padding: 5px;
  }
}
.submit {
  display: flex;
  justify-content: flex-end;
  button {
    width: 70px;
    height: 30px;
    margin-left: 20px;
  }
}