<script setup>
import { ref, provide } from 'vue'
import Child from './components/Child.vue'

const count = ref(0)
const title = ref('标题')


// 传给所有后代组件
provide('count', count)
provide('title', title)

</script>

<template>
  <div class="app">
    <h2>{{ title }}</h2>
    <input type="text" v-model="title">
    <button @click="count++">{{ count }} +</button>
    <Child  />
  </div>
</template>

<style lang='scss' scoped>

</style>
