<template>
  <div id="app">
    <h1>App</h1>
    <div>count: {{count}} <button @click="count++">+</button></div>

    <img v-if="count < 5 || count > 10" v-load="img" alt="">
    <button @click="change">切换图片</button>
    <p v-copy="img">{{img}}</p>

    <hr />


    <p>{{text}}</p>
    <input type="text" v-model="text">



    
    <button v-copy="text">点击复制</button>

  </div>
</template>

<script>
import img1 from './assets/img1.jpg'
import img2 from './assets/img2.jpg'

export default {
  data() {
    return {
      img: img1,
      count: 0,
      text: '默认值' + Math.random()
    }
  },
  methods: {
    change() {
      this.img = this.img === img1 ? img2 : img1
    }
  }
}
</script>


<style lang="scss">
img {
  width: 200px;
}
</style>
