.control {
  flex: 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.title {
  width: 100px;
  height: 40px;
  background: #cccccc;
  text-align: center;
  line-height: 40px;
  font-size: 14px;
}