<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>
<body>
  <div class="app">
    <h1>{{title}}</h1>
    <p>count: {{count}}</p>
    <button @click="add">+</button>
  </div>

  <script>
    // 生命周期：vue实例对象从创建到销毁的过程
    // 生命周期钩子函数：vue运行到特定的时机自动执行的函数
    const vm = new Vue({
      // el: '.app',
      data: {
        title: '111',
        count: 0
      },
      methods: {
        add() {
          this.count++
        }
      },
      // 创建阶段
      // 实例创建之前: vue相关的内容都不可用
      beforeCreate() {
        console.log('%c beforeCreate', 'color: green;font-size: 20px', this.title)
      },
      // vue实例创建完成: 可以使用vue数据，可以修改数据格式、调用接口、创建定时器，但是不能获取到编译后的dom元素
      created() {
        console.log('%c created',  'color: green;font-size: 20px', this.title)
        console.log(document.querySelector('p').outerHTML)
        this.timer = setInterval(() => {
          this.count++
          console.log(this.count)
        }, 1000)

        this.clickFn = () => {
          this.title = Math.random()
          console.log(this.title)
        }
        document.addEventListener('click', this.clickFn)
      },
      // 挂载阶段
      // 挂载之前: 功能和created一样，数据渲染到页面之前最后一次修改数据的机会
      beforeMount() {
        console.log('%c beforeMount', 'color: red; font-size: 30px', this.title)
        console.log(document.querySelector('p').outerHTML)
        console.log(this.$el)
      },
      // 挂载完成：页面渲染完成，可以获取到数据编译后的dom元素
      mounted() {
        console.log('%c mounted', 'color: red; font-size: 30px')
        console.log(document.querySelector('p').outerHTML)
        console.log(this.$el)
      },
      // 更新阶段
      // 更新之前: 数据改变后，页面更新之前执行
      beforeUpdate() {
        console.log('%c beforeUpdate', 'color: blue; font-size: 30px')
        console.log(this.count, document.querySelector('p').outerHTML)
      },
      // 更新完成：数据改变后，页面更新完成，可以获取到最新的dom
      updated() {
        console.log('%c updated', 'color: blue; font-size: 30px', this.count)
        console.log(this.count, document.querySelector('p').outerHTML)
      },
      // 销毁阶段
      // 销毁之前: 清除异步，例如定时器、原生事件
      beforeDestroy() {
        console.log('%c beforeDestroy', 'color: tomato; font-size: 30px')
        clearInterval(this.timer)
        document.removeEventListener('click', this.clickFn)
      },
      // 销毁完成
      destroyed() {
        console.log('%c destroyed', 'color: tomato; font-size: 30px')
      }
    })


    vm.$mount('.app')


  </script>
</body>
</html>