<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  <script src="./vue.js"></script>
</head>
<style>
.swiper {
  width: 600px;
  height: 300px;
  background: tomato;
}
.swiper2 {
  height: 222px;
  margin-top: 20px;
}
img {
  width: 100%;
}
</style>
<body>
  <div class="app">
    <div class="swiper" ref="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">Slide 1</div>
        <div class="swiper-slide">Slide 2</div>
        <div class="swiper-slide">Slide 3</div>
      </div>
      <div class="swiper-pagination" ref="page"></div>
      <div class="swiper-button-prev" ref="prev"></div>
      <div class="swiper-button-next" ref="next"></div>
    </div>

    <div class="swiper swiper2" ref="swiper2">
      <div class="swiper-wrapper">
        <div class="swiper-slide" v-for="item in banners" :key="item.targetId">
          <img :src="item.imageUrl" alt="">
        </div>
      </div>
      <div class="swiper-pagination" ref="page2"></div>
      <div class="swiper-button-prev" ref="prev2"></div>
      <div class="swiper-button-next" ref="next2"></div>
    </div>
  </div>

  <script>
    // 生命周期：vue实例对象从创建到销毁的过程
    // 生命周期钩子函数：vue运行到特定的时机自动执行的函数
    const vm = new Vue({
      el: '.app',
      data: {
        banners: []
      },
      methods: {
      },
      created() {
        const xhr = new XMLHttpRequest()
        xhr.open('get', 'http://zyxcl.xyz/music_api/banner')
        xhr.onreadystatechange = () => {
          if (xhr.status === 200 && xhr.readyState === 4) {
            const data = JSON.parse(xhr.responseText)
            this.banners = data.banners
            // 等轮播图数据获取成功并且渲染完成之后初始化轮播图
            this.$nextTick(() => {
              const swiper2 = new Swiper(this.$refs.swiper2, {
                loop: true,
                pagination: {
                  el: this.$refs.page2
                },
                navigation: {
                  nextEl: this.$refs.next2,
                  prevEl: this.$refs.prev2
                }
              })
            })
          }
        }
        xhr.send()
      },
      mounted() {
        const swiper = new Swiper(this.$refs.swiper, {
          loop: true,
          pagination: {
            el: this.$refs.page
          },
          navigation: {
            nextEl: this.$refs.next,
            prevEl: this.$refs.prev
          }
        })
      }
    })




  </script>
</body>
</html>