<template>
  <div class="app123">
    <h1>app组件</h1>
    <p>title1: {{title1}}</p>
    <input type="text" v-model="title1">

    <Counter :title="title1" :info="xm" />
    <Counter title="组件2" />
    <Counter title="组件3" />
  </div>
</template>

<script>
// 引入组件
import Counter from './components/Counter.vue'
export default {
  data() {
    return {
      title1: '组件1',
      xm: {
        name: '王小明',
        age: 22
      }
    }
  },
  components: {
    // 注册组件
    Counter
  }
}
</script>

<style lang="scss">
h1 {
  color: red;
}
</style>
