* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  // css 变量
  --primary-color: #0283e4;
  --primary-text-color: #ffffff;
}

html, body {
  width: 100%;
  height: 100%;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}