<script setup>
import { inject, ref } from 'vue'

const appCount = inject('count')
const appTitle = inject('title')

</script>

<template>
  <div class="child">
    <h2>我是子组件2</h2>
    <p>appCount：{{ appCount }}</p>
    <p>appTitle：{{ appTitle }}</p>
  </div>
</template>

<style lang='scss' scoped>
.child {
  border: 1px solid;
  padding: 20px;
}
</style>
