<script setup>
import { ref } from 'vue'
import Child2 from './Child2.vue'
</script>

<template>
  <div class="child">
    <h2>我是子组件1</h2>
    <Child2 />
  </div>
</template>

<style lang='scss' scoped>
.child {
  border: 1px solid;
  padding: 20px;
}
</style>
