<template>
  <div class="page">
    <div class="search">
      <input type="text" v-model.trim="searchText" placeholder="搜索商品名称">
    </div>
    <div class="list">
      <ul>
        <li v-for="item in searchResult" :key="item.item_id" @click="goDetail(item.item_id)">{{ item.title }}</li>
      </ul>
    </div>
  </div>
</template>

<script>
import { getAllData } from '../../api'

export default {
  data() {
    return {
      list: [],
      searchText: ''
    }
  },
  methods: {
    goDetail(id) {
      this.$router.push({
        name: 'detail',
        params: { id }
      })
    }
  },
  computed: {
    searchResult() {
      if (this.searchText === '') return []
      return this.list.filter(v => v.title.includes(this.searchText))
    }
  },
  async created() {
    this.list = await getAllData()
  }
}
</script>

<style lang="scss" scoped>
.page {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.search {
  height: 50px;
  padding: 10px 15px;
  border-bottom: 1px solid;
  input {
    width: 100%;
    height: 30px;
  }
}
.list {
  flex: 1;
  overflow: auto;
  li {
    line-height: 40px;
    border-bottom: 1px dashed;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
</style>