@import "./font/iconfont.css";
@import "animate.css";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body, #root, .app {
  font-size: 14px;
  background: #2a2b2f;
}
li {
  list-style-type: none;
}
.app main {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  padding-top: 70px;
}