<template>
  <div class="center">
    <div class="left">
      我是左侧
    </div>
    <Right />
  </div>
</template>

<script>
import Right from './Right.vue'
export default {
  components: {
    Right
  }
}
</script>

<style lang="scss">
.center {
  background: green;
  height: 400px;
  padding: 20px;
  display: flex;
}
.left {
  width: 200px;
  border-right: 2px solid blue;
}
</style>