<template>
  <div class="right">
    <button>我是按钮</button>
    <ul>
      <li v-for="item in arr" :key="item">{{item}}</li>
    </ul>
  </div>
</template>

<script>
export default {
  data () {
    return {
      arr: [1,2,3,5,6]
    }
  }
}
</script>

<style scoped>
/* scoped: 让组件内的样式只在当前组件内生效，不影响全局样式 */
.right {
  flex: 1;
}
button {
  background: red;
  padding: 20px;
}
</style>