<script>
import { ref } from 'vue'

export default {
  data() {
    return {
      title: '标题'
    }
  },
  methods: {
    changeTitle(t) {
      this.title = t
    }
  },
  created() {
    console.log('组件创建成功')
  },
  mounted() {
    console.log('组件挂载成功', this.$refs.h2Ref)
    console.log(this.count)
  },
  watch: {
    title: {
      handler() {
        console.log('title改变了', this.title)
      },
      immediate: true
    }
  },
  computed: {
    len() {
      return this.title.length * 2
    }
  },
  setup() {
    console.log('setup')
    const count = ref(0)

    // return的内容会合并到组件中
    return {
      count
    }
  }
}
</script>

<template>
  <div class="app">
    <h2 ref="h2Ref">{{ title }}</h2>
    <input type="text" v-model="title">
    <button @click="changeTitle(Math.random())">随机标题</button>
    <div>
      count: {{ count }}
      <button @click="count++">+</button>
    </div>
  </div>
  <p>{{ len }}</p>
</template>

<style lang='scss' scoped>
.app {
  background: tomato;
  h2 {
    color: #ffffff;
  }
}
</style>
