<script setup>
import { ref } from 'vue'
import Child from './components/Child.vue'

const childRef = ref(null)

const clickfn = () => {
  // 通过 ref 调用子组件内的方法
  console.log(childRef)
  childRef.value.add(3)
}

</script>

<template>
  <div class="app">
    <h2>app</h2>
    <button @click="clickfn">调用子组件的方法</button>
    <Child ref="childRef" />
  </div>
</template>

<style lang='scss' scoped>

</style>
