<template>
  <div class="dialog" @click.self="$emit('close')">
    <div class="cart-list">
      <div class="cart-header">
        <b>购物车</b>
        <span @click="$emit('clear')">清空</span>
      </div>
      <ul>
        <li v-for="item in cartList" :key="item.name">
          <b>{{item.name}}</b>
          <div class="btns">
            <button @click="$emit('changeCount', item, -1)">-</button>
            <span>{{item.count}}</span>
            <button @click="$emit('changeCount', item, 1)">+</button>
          </div>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  props: ['cartList']
}
</script>

<style lang="scss" scoped>
.dialog {
  position: fixed;
  top: 0;
  bottom: 48px;
  left: 0;
  width: 100%;
  background: rgba($color: #000000, $alpha: .5);
}
.cart-list {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #ffffff;
  li {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
  }
  button {
    width: 20px;
    height: 20px;
  }
  span {
    margin: 0 5px;
  }
}
.cart-header {
  background: #f3f5f7;
  height: 40px;
  line-height: 40px;
  padding: 0 18px;
  display: flex;
  justify-content: space-between;
}
</style>