<template>
  <div class="content">
    <nav>
      <span
        v-for="(item, index) in navlist"
        :key="item.title"
        :class="{ active: curIndex === index }"
        @click="curIndex = index"
      >{{item.title}}</span>
      <i :style="{ transform: `translateX(${100 * curIndex}%)` }"></i>
    </nav>
    <div class="tab-content">
      <!-- <Goods v-if="curIndex === 0" />
      <Comment v-else-if="curIndex === 1" />
      <Shop v-else /> -->
      <!-- component内置组件: 动态切换组件内容 -->
      <component :is="navlist[curIndex].ComName"></component>
    </div>
  </div>
</template>

<script>
import Goods from './Goods.vue'
import Comment from './Comment.vue'
import Shop from './Shop.vue'

export default {
  data() {
    return {
      curIndex: 0,
      navlist: [
        {
          title: '商品',
          ComName: 'Goods'
        },
        {
          title: '评论',
          ComName: 'Comment'
        },
        {
          title: '商家',
          ComName: 'Shop'
        }
      ]
    }
  },
  components: {
    Goods,
    Comment,
    Shop
  }
}
</script>

<style lang="scss" scoped>
.content {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  nav {
    height: 36px;
    display: flex;
    border-bottom: 1px solid #dddddd;
    position: relative;
    span {
      flex: 1;
      text-align: center;
      line-height: 36px;
      font-size: 14px;
    }
    .active {
      color: red;
    }
    i {
      width: calc(100% / 3);
      height: 2px;
      background: red;
      position: absolute;
      bottom: 0;
      left: 0;
      transition: transform 0.3s linear;
    }
  }
}
.tab-content {
  flex: 1;
  overflow: hidden;
}
</style>