<template>
  <div class="dialog">
    <h3>{{info.name}}</h3>
    <p>{{info.bulletin}}</p>
    <ul>
      <li v-for="item in info.supports" :key="item.type">
        {{item.description}}
      </li>
    </ul>
    <div class="close" @click="$emit('close')">X</div>
  </div>
</template>

<script>
export default {
  props: ['info']
}
</script>

<style lang="scss" scoped>
.dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
  background: rgba(7,17,27,.8);
}
.close {
  color: red;
  font-size: 30px;
}
</style>