<template>
  <div class="tab-list">
    <h3>{{name}}</h3>
    <ul>
      <li v-for="food in foods" :key="food.name">
        <img :src="food.image" width="40" alt="">
        <div class="food-info">
          <p>{{food.name}}</p>
          <p>¥{{food.price}}</p>
          <p>
            <template v-if="food.count > 0">
              <button @click="$emit('changeCount', food, -1)">-</button>
              {{food.count || 0}}
            </template>
            <button @click="$emit('changeCount', food, 1)">+</button>
          </p>
        </div>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  props: ['name', 'foods']
}
</script>

<style lang="scss" scoped>
.tab-list {
  flex: 1;
  overflow: auto;
  h3 {
    background: #f3f5f7;
    border-left: 2px solid #d9dde1;
    color: #666;
    font-size: 12px;
    height: 26px;
    line-height: 26px;
    padding-left: 14px;
    font-weight: normal;
  }
  li {
    padding: 18px;
    display: flex;
    img {
      width: 57px;
      margin-right: 18px;
    }
  }
}
.food-info {
  flex: 1;
  button {
    width: 20px;
    height: 20px;
  }
}
</style>