<template>
  <div class="footer">
    <div class="cart" @click="clickFn">
      <div :class="['circle', { active: totalCount > 0 }]">
        <span>{{totalCount}}</span>
      </div>
    </div>
    <div class="total">¥{{totalPrice}}</div>
  </div>
</template>

<script>
export default {
  props: ['totalCount', 'totalPrice'],
  methods: {
    clickFn() {
      if (this.totalCount > 0) {
        this.$emit('clickCart')
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.footer {
  height: 48px;
  background: #07111b;
  color: #ffffff;
  display: flex;
}
.cart {
  width: 56px;
  height: 56px;
  background: #07111b;
  position: relative;
  z-index: 10;
  bottom: 8px;
  margin: 0 8px;
  border-radius: 50%;
  padding: 6px;
}
.circle {
  background: #333333;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  &.active {
    background: #00a0dc;
  }
}
.total {
  line-height: 48px;
}
</style>