<template>
  <div class="goods-page">
    <div class="goods-list">
      <div class="tab-title">
        <p
          v-for="(item, index) in list"
          :key="item.name"
          :class="{ active: curIndex === index }"
          @click="curIndex = index"
        >{{item.name}}</p>
      </div>
      <FoodList
        :name="list[curIndex]?.name"
        :foods="list[curIndex]?.foods"
        @changeCount="changeCount"
      />
    </div>
    <Footer @clickCart="changeShow" :totalCount="total.count" :totalPrice="total.price" />
    <CartList
      v-if="showCart"
      :cartList="cartList"
      @close="showCart = false"
      @changeCount="changeCount"
      @clear="clearCart"
    />
  </div>
</template>

<script>
import Footer from './Footer.vue'
import FoodList from './FoodList.vue'
import CartList from './CartList.vue'

import axios from 'axios'

export default {
  props: [],
  components: {
    Footer,
    FoodList,
    CartList
  },
  data() {
    return {
      curIndex: 0,
      list: [],
      showCart: false,
      cartList: [] // 存购物车数据
    }
  },
  computed: {
    total() {
      return this.cartList.reduce((prev, val) => {
        return {
          count: prev.count + val.count,
          price: prev.price + val.count * val.price
        }
      }, { count: 0, price: 0 })
    }
  },
  watch: {
    'total.count'() {
      if (this.total.count === 0) {
        this.showCart = false
      }
    }
  },
  methods: {
    changeCount(food, num) {
      const count = food.count ? food.count : 0
      this.$set(food, 'count', count + num)
      // 判断购物车中是否存在此商品
      const index = this.cartList.findIndex(v => v.name === food.name)
      if (index > -1) {
        // 如果数量为0就删除
        if (food.count === 0) {
          this.cartList.splice(index, 1)
        }
      } else {
        this.cartList.push(food)
      }
    },
    changeShow() {
      this.showCart = !this.showCart
    },
    clearCart() {
      this.cartList.forEach(item => {
        item.count = 0
      })
      this.cartList = []
    }
  },
  async created() {
    const res = await axios.get('/api/sell/api/goods')
    this.list = res.data.data
  }
}
// 1. 指令
// 2. data、computed、watch、生命周期
// 3. 封装组件，组件通讯
</script>

<style lang="scss" scoped>
.goods-page {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.goods-list {
  flex: 1;
  overflow: hidden;
  display: flex;
  font-size: 14px;
}
.tab-title {
  width: 80px;
  background: #f3f5f7;
  p {
    text-align: center;
    height: 50px;
    padding: 0 10px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    &.active {
      background: #ffffff;
      color: red;
    }
  }
}
</style>