<template>
  <div class="header">
    <div class="info" @click="show = true">
      <img class="avatar" :src="info.avatar" alt="">
      <div class="info-desc">
        <h3>{{info.name}}</h3>
        <p>{{info.description}}</p>
      </div>
    </div>
    <div class="bg">
      <img :src="info.avatar" alt="">
    </div>
    <DetailDialog v-if="show" :info="info" @close="closeDialog" />
  </div>
</template>

<script>
import axios from 'axios'
import DetailDialog from './DetailDialog.vue'
export default {
  data () {
    return {
      info: {},
      show: false
    }
  },
  methods: {
    closeDialog() {
      this.show = false
    }
  },
  async created() {
    const res = await axios.get('/api/sell/api/seller')
    this.info = res.data.data
  },
  components: {
    DetailDialog
  }
}
</script>

<style lang="scss" scoped>
.header {
  height: 136px;
  overflow: hidden;
  position: relative;
  background: rgba(7,17,27,.5);
  color: #ffffff;
}
.info {
  display: flex;
  padding: 20px;
}
.info-desc {
  flex: 1;
  margin-left: 15px;
}
.avatar {
  width: 64px;
  height: 64px;
}
.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  filter: blur(10px);
  img {
    width: 100%;
    height: 100%;
  }
}
</style>