<script setup>
import { nextTick, reactive, ref, computed } from 'vue'

const arr = ref([1,2,3,4])
const isOdd = ref(false)

const push = () => {
  arr.value.push(arr.value.length + 1)
}

const newArr = computed(() => {
  return arr.value.filter(v => {
    if (isOdd.value) {
      return v % 2 === 1
    }
    return v % 2 === 0
  })
})

const total = computed(() => {
  return arr.value.reduce((prev, val) => prev + val, 0)
})


// 在 js 中使用计算属性时需要通过 value 获取
console.log(newArr.value)


</script>

<template>
  <div class="app">
    <button @click="push">修改数组</button>
    <button @click="arr = []">清空</button>
    <button @click="isOdd = !isOdd">isOdd: {{ isOdd }}</button>
    <p>newArr: {{ newArr }}</p>
    <div>
      <p>数组</p>
      <p>arr: {{ arr }}</p>
    </div>
    <div>总数: {{ total }}</div>
  </div>
</template>

<style lang='scss' scoped>
.app {
  background: tomato;
  h2 {
    color: #ffffff;
  }
}
</style>
