<template>
  <div>
    <h2>商品组件</h2>
    <p>count: {{count}}</p>
    <button @click="count++">+</button>
  </div>
</template>

<script>
export default {
  data() {
    return {
      count: 0
    }
  },
  // created() {
  //   console.log('child1创建成功了')
  //   this.timer = setInterval(() => {
  //     this.count++
  //     console.log(this.count)
  //   }, 1000)
  // },
  // // 被keep-alive缓存的组件不会执行销毁阶段的生命周期
  // beforeDestroy() {
  //   console.log('child1要销毁了')
  //   // 清除定时器
  //   clearInterval(this.timer)
  // }
  // 被keep-alive包裹的组件有两个特殊的生命周期
  activated() {
    console.log('组件展示了')
    this.timer = setInterval(() => {
      this.count++
      console.log(this.count)
    }, 1000)
  },
  deactivated() {
    console.log('组件隐藏了')
    clearInterval(this.timer)
  }
}
</script>

<style>

</style>