<template>
  <div class="home">
    <div class="search">
      <router-link to="/search">搜索</router-link>
    </div>
    <nav>
      <router-link to="/list/zh">综合</router-link>
      <router-link to="/list/xl">销量</router-link>
      <router-link to="/list/sx">上新</router-link>
      <div class="price" @click="changeSort">
        <p>价格</p>
        <p class="sj">
          <svg t="1722386347805" :class="{ red: sortType === 1 }" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="7308" width="12" height="12"><path d="M512 68.608L0 955.392h1024L512 68.608z" fill="#333333" p-id="7309"></path></svg>
          <svg t="1722386378354" :class="{ red: sortType === 2 }" viewBox="0 0 1304 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="8276" width="12" height="12"><path d="M654.615273 1012.456727 83.968 24.110545l1141.201455 0L654.615273 1012.456727z" fill="#060404" p-id="8277"></path></svg>
        </p>
      </div>
      <div class="toggle" @click="changeGrid">
        <svg v-if="isGrid" t="1722386176785" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="4346" width="26" height="26"><path d="M149.461333 576h213.077334c11.861333 0 21.461333 9.6 21.461333 21.461333v213.077334C384 822.4 374.4 832 362.538667 832H149.461333C137.6 832 128 822.4 128 810.538667v-213.077334C128 585.6 137.6 576 149.461333 576zM85.333333 810.538667A64.106667 64.106667 0 0 0 149.461333 874.666667h213.077334A64.106667 64.106667 0 0 0 426.666667 810.538667v-213.077334A64.106667 64.106667 0 0 0 362.538667 533.333333H149.461333A64.106667 64.106667 0 0 0 85.333333 597.461333v213.077334z m0-384A64.106667 64.106667 0 0 0 149.461333 490.666667h213.077334A64.106667 64.106667 0 0 0 426.666667 426.538667v-213.077334A64.106667 64.106667 0 0 0 362.538667 149.333333H149.461333A64.106667 64.106667 0 0 0 85.333333 213.461333v213.077334zM149.461333 192h213.077334C374.4 192 384 201.6 384 213.461333v213.077334C384 438.4 374.4 448 362.538667 448H149.461333C137.6 448 128 438.4 128 426.538667v-213.077334C128 201.6 137.6 192 149.461333 192z m768.042667 64a21.333333 21.333333 0 0 0 0-42.666667h-426.666667a21.333333 21.333333 0 1 0 0 42.666667h426.666667z m0 384a21.333333 21.333333 0 0 0 0-42.666667h-426.666667a21.333333 21.333333 0 1 0 0 42.666667h426.666667z m0-213.333333a21.333333 21.333333 0 0 0 0-42.666667h-426.666667a21.333333 21.333333 0 1 0 0 42.666667h426.666667z m0 384a21.333333 21.333333 0 0 0 0-42.666667h-426.666667a21.333333 21.333333 0 1 0 0 42.666667h426.666667z" fill="#3D3D3D" p-id="4347"></path></svg>
        <svg v-else t="1722386278964" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="5410" width="26" height="26"><path d="M416 85.333333H138.666667a53.393333 53.393333 0 0 0-53.333334 53.333334v277.333333a53.393333 53.393333 0 0 0 53.333334 53.333333h277.333333a53.393333 53.393333 0 0 0 53.333333-53.333333V138.666667a53.393333 53.393333 0 0 0-53.333333-53.333334z m10.666667 330.666667a10.666667 10.666667 0 0 1-10.666667 10.666667H138.666667a10.666667 10.666667 0 0 1-10.666667-10.666667V138.666667a10.666667 10.666667 0 0 1 10.666667-10.666667h277.333333a10.666667 10.666667 0 0 1 10.666667 10.666667z m458.666666-330.666667H608a53.393333 53.393333 0 0 0-53.333333 53.333334v277.333333a53.393333 53.393333 0 0 0 53.333333 53.333333h277.333333a53.393333 53.393333 0 0 0 53.333334-53.333333V138.666667a53.393333 53.393333 0 0 0-53.333334-53.333334z m10.666667 330.666667a10.666667 10.666667 0 0 1-10.666667 10.666667H608a10.666667 10.666667 0 0 1-10.666667-10.666667V138.666667a10.666667 10.666667 0 0 1 10.666667-10.666667h277.333333a10.666667 10.666667 0 0 1 10.666667 10.666667zM416 554.666667H138.666667a53.393333 53.393333 0 0 0-53.333334 53.333333v277.333333a53.393333 53.393333 0 0 0 53.333334 53.333334h277.333333a53.393333 53.393333 0 0 0 53.333333-53.333334V608a53.393333 53.393333 0 0 0-53.333333-53.333333z m10.666667 330.666666a10.666667 10.666667 0 0 1-10.666667 10.666667H138.666667a10.666667 10.666667 0 0 1-10.666667-10.666667V608a10.666667 10.666667 0 0 1 10.666667-10.666667h277.333333a10.666667 10.666667 0 0 1 10.666667 10.666667z m458.666666-330.666666H608a53.393333 53.393333 0 0 0-53.333333 53.333333v277.333333a53.393333 53.393333 0 0 0 53.333333 53.333334h277.333333a53.393333 53.393333 0 0 0 53.333334-53.333334V608a53.393333 53.393333 0 0 0-53.333334-53.333333z m10.666667 330.666666a10.666667 10.666667 0 0 1-10.666667 10.666667H608a10.666667 10.666667 0 0 1-10.666667-10.666667V608a10.666667 10.666667 0 0 1 10.666667-10.666667h277.333333a10.666667 10.666667 0 0 1 10.666667 10.666667z" fill="#5C5C66" p-id="5411"></path></svg>
      </div>
    </nav>
    <div class="content">
      <router-view />
    </div>
  </div>
</template>

<script>
import { mapState, mapMutations } from 'vuex'

export default {
  computed: {
    ...mapState(['isGrid', 'sortType'])
  },
  methods: {
    ...mapMutations(['changeGrid', 'changeSort'])
  }
}
</script>

<style lang="scss" scoped>
.home {
  height: 100%;
  display: flex;
  flex-direction: column;;
}
.search {
  height: 50px;
  background: #000000;
  padding: 5px 20px;
  a {
    display: block;
    text-align: center;
    line-height: 40px;
    background: #999999;
    color: #dddddd;
  }
}
nav {
  height: 40px;
  border-bottom: 1px solid;
  display: flex;
  a {
    flex: 1;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
    color: #333333;
    &.router-link-exact-active {
      color: red;
    }
  }
}
.price {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  .sj {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
  }
}
.toggle {
  width: 40px;
  border-left: 1px solid #cccccc;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content {
  flex: 1;
  overflow: hidden;
}
.red {
  path {
    fill: red;
  }
}
</style>