<template>
  <div class="list" :class="{ grid: isGrid }">
    <div class="item" v-for="item in curList" :key="item.item_id" @click="goDetail(item.item_id)">
      <div class="img-wrap">
        <img :src="item.img" alt="">
      </div>
      <div class="item-info">
        <h3>{{item.title}}</h3>
        <div class="desc">
          <p class="sold">月售 {{item.sold}}</p>
          <p class="price">{{item.price}}</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
const urlEnum = {
  zh: 'https://zyxcl.xyz/exam_api/zh',
  xl: 'https://zyxcl.xyz/exam_api/xl',
  sx: 'https://zyxcl.xyz/exam_api/sx',
}

export default {
  data() {
    return {
      list: []
    }
  },
  computed: {
    ...mapState(['isGrid', 'sortType']),
    curList() {
      if (this.sortType === 0) return this.list

      const newList = [...this.list]
      newList.sort((a, b) => {
        if (this.sortType === 1) {
          return a.price - b.price
        } else {
          return b.price - a.price
        }
      })
      return newList
    }
  },
  watch: {
    $route: {
      async handler() {
        const url = urlEnum[this.$route.params.type]
        if (!url) {
          this.$router.push('/404')
        }
        const res = await fetch(url).then(res => res.json())
        this.list = res.items
      },
      immediate: true
    }
  },
  methods: {
    goDetail(id) {
      this.$router.push({
        name: 'detail',
        params: {
          id
        },
        // query: {
        //   id
        // }
      })
    }
  }
  
}
</script>

<style lang="scss" scoped>
.list {
  height: 100%;
  overflow: auto;
}
.item {
  display: flex;
}
.img-wrap {
  width: 150px;
  img {
    width: 100%;
    vertical-align: middle;
  }
}
.item-info {
  flex: 1;
  overflow: hidden;
  padding-left: 10px;
  h3 {
    font-size: 14px;
  }
}
.price {
  color: red;
  font-weight: bold;
}
.sold {
  color: #999999;
  margin-bottom: 50px;
  font-size: 14px;
}
.grid {
  display: flex;
  flex-wrap: wrap;
  .item {
    width: 50%;
    flex-direction: column;
  }
  .item-info h3 {
    height: 60px;
  }
  .img-wrap {
    width: 100%;
  }
  .desc {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 50px;
  }
  .sold {
    margin-bottom: 0;
  }
}
</style>