<template>
  <div class="photo-wrap" v-show="visible">
    <div class="bar">
      <span @click="$emit('update:visible', false)">返回</span>
      剧照 {{list?.length}} 张
    </div>
    <div class="list">
      <div class="pic" v-for="(item, index) in list" :key="item">
        <img :src="item" alt="" @click="$emit('clickPic', index)">
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ['list', 'visible']
}
</script>

<style lang="scss" scoped>
.photo-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
}
.bar {
  height: 40px;
  border-bottom: 1px solid;
  text-align: center;
  line-height: 40px;
  position: relative;
  span {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
  }
}
.list {
  display: flex;
  flex-wrap: wrap;
  .pic {
    width: calc((100vw - 10px) / 3);
    height: calc((100vw - 10px) / 3);
    margin-right: 5px;
    margin-bottom: 5px;
    &:nth-child(3n) {
      margin-right: 0;
    }
  }
  img {
    width: 100%;
    height: 100%;
    vertical-align: middle;
  }
}
</style>