<template>
  <div>
    <h1>首页</h1>
    <ul>
      <li v-for="item in banners" :key="item.targetId">
        <img :src="item.imageUrl" width="300" alt="">
      </li>
    </ul>
  </div>
</template>

<script>
import { mapState, mapMutations, mapGetters } from 'vuex'

export default {
  data() {
    return {
    }
  },
  computed: {
    ...mapState(['banners'])
  },
  methods: {
    ...mapMutations(['setBanner'])
  },
  created() {
    if (this.banners.length === 0) {
      // 调用store中的action
      this.$store.dispatch('getBannerApi', 100)
    }
  }
}
</script>

<style>

</style>