<template>
  <div>
    <h1>关于我们</h1>
    <ol>
      <li v-for="item in banners" :key="item.targetId">
        <img :src="item.imageUrl" width="300" alt="">
      </li>
    </ol>
  </div>
</template>

<script>
import { mapState, mapMutations, mapActions } from 'vuex'

export default {
  data() {
    return {
    }
  },
  computed: {
    ...mapState(['banners'])
  },
  methods: {
    ...mapMutations(['setBanner']),
    ...mapActions(['getBannerApi'])
  },
  created() {
    if (this.banners.length === 0) {
      // 调用store中的action
      this.getBannerApi()
    }
  }
}
</script>

<style>

</style>