<template>
  <div>
    <h1>首页</h1>
    <h2>{{title}}</h2>
    <p>姓名： {{username}}</p>
    <p>年龄： {{age}}</p>
    <button @click="add(2)">age+</button>
  </div>
</template>

<script>
import { mapState, mapMutations, mapGetters } from 'vuex'

export default {
  data() {
    return {
    }
  },
  computed: {
    ...mapState(['title']),
    ...mapState('user', ['username', 'age'])
    // ...mapState({
    //   title: state => state.title,
    //   username: state => state.user.username,
    //   age: state => state.user.age,
    // })
    // title() {
    //   return this.$store.state.title
    // },
    // username() {
    //   return this.$store.state.user.username
    // },
    // age() {
    //   return this.$store.state.user.age
    // }
  },
  methods: {
    ...mapMutations('user', ['add'])
  },
  created() {
    console.log(this)
  }
}
</script>

<style>

</style>