.range {
  width: 100%;
  height: 10px;
  background: #333333;
  margin: 30px 0;
  position: relative;
  i {
    position: absolute;
    top: -10px;
    width: 10px;
    height: 30px;
    background: blue;
    cursor: pointer;
  }
  p {
    position: absolute;
    height: 100%;
    overflow: hidden;
    span {
      height: 100%;
      display: block;
      background-image: linear-gradient(to right, blue, red);
    }
  }
}