<template>
  <el-form :inline="true" :model="formInline" class="demo-form-inline">
    <el-form-item label="姓名">
      <el-input v-model="formInline.name" placeholder="姓名"></el-input>
    </el-form-item>
    <el-form-item label="性别">
      <el-select v-model="formInline.sex" placeholder="选择性别">
        <el-option label="男" :value="1"></el-option>
        <el-option label="女" :value="0"></el-option>
      </el-select>
    </el-form-item>
    <el-form-item>
      <el-button type="primary" size="medium" @click="search">查询</el-button>
      <el-button size="medium" @click="reset">重置</el-button>
    </el-form-item>
  </el-form>
</template>

<script>
export default {
  data() {
    return {
      formInline: {
        name: '',
        sex: ''
      }
    }
  },
  methods: {
    search() {
      this.$emit('search', {...this.formInline})
    },
    reset() {
      this.formInline =  {
        name: '',
        sex: ''
      }
      this.$emit('reset')
    }
  }
}
</script>

<style>

</style>