<view>我是详情页面</view>
<navigator open-type="navigateBack">返回上一页</navigator>
<navigator open-type="exit" target="miniProgram">退出小程序</navigator>

<navigator open-type="navigate" class="link" url="/pages/search/search">跳转搜索</navigator>
<!-- 跳转到 tabBar 页面，并关闭其他所有非 tabBar 页面 -->
<navigator open-type="switchTab" class="link" url="/pages/index/index">switchTab 跳转首页</navigator>