<template>
  <div class="city">
    <div class="title">
      <span @click="$router.back()">返回</span>
      <b>当前城市 - {{curCity}}</b>
    </div>
    <Search @input="searchInput" @cancel="showResult = false" />
    <div class="content">
      <Result v-if="showResult" :list="resultList" @select="selectCity" />
      <CityList v-else :hotCity="hotCity" :floorCities="floorCities" @select="selectCity" />
    </div>
  </div>
</template>

<script>
import Search from './components/Search.vue'
import CityList from './components/CityList.vue'
import Result from './components/Result.vue'
import axios from 'axios'

export default {
  data() {
    return {
      showResult: false,
      cities: [],
      floorCities: [],
      hotCity: [],
      searchText: '',
      curCity: localStorage.getItem('curCity')
    }
  },
  computed: {
    resultList() {
      if (this.searchText === '') return []
      return this.cities.filter(v => {
        return v.name.includes(this.searchText) || v.pinyin.includes(this.searchText)
      })
    }
  },
  methods: {
    searchInput(val) {
      this.showResult = true
      this.searchText = val
    },
    format(cities) {
      const result = []
      cities.forEach(item => {
        // 获取首字母
        const firstLetter = item.pinyin[0].toUpperCase()
        // 根据首字母去 result 查找是否存在此类型
        const curType = result.find(v => v.type === firstLetter)
        if (curType) {
          curType.list.push(item)
        } else {
          result.push({
            type: firstLetter,
            list: [item]
          })
        }
      })
      result.sort((a, b) => {
        return a.type.charCodeAt() - b.type.charCodeAt()
      })
      return result
    },
    selectCity(city) {
      localStorage.setItem('curCity', city)
      this.$router.back()
    }
  },
  async created() {
    const res = await axios.get('https://m.maizuo.com/gateway?k=4889275', {
      headers: {
        'X-Client-Info': '{"a":"3000","ch":"1002","v":"5.2.1","e":"17218918638581224398323713","bc":"652300"}',
        'X-Host': 'mall.film-ticket.city.list'
      }
    })
    this.cities = res.data.data.cities
    this.hotCity = this.cities.filter(v => v.isHot === 1)
    this.floorCities = this.format(res.data.data.cities)
  },
  components: {
    Search,
    CityList,
    Result
  }
}
</script>

<style lang="scss" scoped>
.city {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1;
  overflow: hidden;
}
.title {
  height: 44px;
  line-height: 44px;
  text-align: center;
  position: relative;
  span {
    position: absolute;
    left: 0;
    top: 0;
    height: 44px;
    width: 54px;
  }
}
</style>