.compare {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  display: flex;
}
.item {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  background: #212226;
  img {
    width: 150px;
    height: 150px;
  }
  p {
    margin-top: 20px;
  }
  h3 {
    margin-top: 20px;
  }
  &:nth-child(odd) {
    background: #242529;
  }
}
.close {
  position: absolute;
  right: 20px;
  top: 20px;
  color: aliceblue;
  cursor: pointer;
}