<template>
  <div>
    <h2>城市页面</h2>
    <div class="box">城市</div>
    <Child />
  </div>
</template>

<script>
import Child from './components/Child.vue'
export default {
  components: {
    Child
  }
}
</script>

<style lang="scss" scoped>
/* 
  scoped: 让当style中的样式只针对当前组件生效
  原理：给当前组件内的所有元素都添加一个以 data-v 开头的自定义属性，通过属性选择器添加样式

  当前组件添加scoped 后想修改子组件的样式时需要使用 ::v-deep 样式穿透
*/
.box {
  width: 100px;
  height: 100px;
  background: red;
}

// 样式穿透，修改子组件内部的样式
::v-deep .test {
  font-size: 30px;
  height: 100px;
}
</style>