<template>
  <div class="swiper-wrap">
    <div class="close" @click="$emit('close')">x</div>
    <div class="swiper-pagination" ref="pageEl"></div>

    <div class="swiper" ref="swiperRef">
      <div class="swiper-wrapper">
        <div class="swiper-slide" v-for="item in list" :key="item">
          <img :src="item" alt="">
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Swiper from 'swiper'
import { Pagination } from 'swiper/modules'
import 'swiper/css'
import 'swiper/css/pagination'

export default {
  props: ['list', 'index'],
  mounted() {
    const swiper = new Swiper(this.$refs.swiperRef, {
      modules: [Pagination],
      pagination: {
        el: this.$refs.pageEl,
        type: "fraction"
      },
      initialSlide: this.index
    })
  }
}
</script>

<style lang="scss" scoped>
.swiper-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000;
  display: flex;
  align-items: center;
}
.close {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  color: #ffffff;
  text-align: center;
  line-height: 40px;
  font-size: 18px;
  z-index: 99;
}
img {
  width: 100%;
}
.swiper-pagination  {
  color: #ffffff;
  top: 10px;
  height: 40px;
}
</style>