.search {
  height: 56px;
  padding: 10px;
}
.bar {
  background: #f8f8f8;
  height: 100%;
  text-align: center;
  border-radius: 5px;
  line-height: 36px;
  color: #b3b3b3;
}
.inputBar {
  display: flex;
  position: relative;
  input {
    flex: 1;
    background: #f8f8f8;
    height: 36px;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 5px;
  }
  i {
    position: absolute;
    top: 8px;
    right: 50px;
    font-style: normal;
    background: #999999;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
  }
  span {
    line-height: 36px;
    margin-left: 15px;
  }
}