<script setup>
import { ref } from 'vue'
const props = defineProps(['modelValue', 'count'])
const emits = defineEmits(['update:modelValue', 'update:count'])

</script>

<template>
  <div class="child">
    <h2>我是子组件1</h2>
    <input type="text" :value="modelValue" @input="e => emits('update:modelValue', e.target.value)">
    <button @click="emits('update:count', count + 1)">{{ count }}</button>
  </div>
</template>

<style lang='scss' scoped>
.child {
  border: 1px solid;
  padding: 20px;
}
</style>
