<template>
  <div class="city-list">
    <div class="floor" ref="floor">
      <div class="hot">
        <h3>热门城市</h3>
        <ul>
          <li v-for="item in hotCity" :key="item.cityId" @click="$emit('select', item.name)">{{item.name}}</li>
        </ul>
      </div>
      <div class="floor-item" v-for="item in floorCities" :key="item.type">
        <h3>{{item.type}}</h3>
        <ul>
          <li v-for="city in item.list" :key="city.cityId"  @click="$emit('select', city.name)">{{city.name}}</li>
        </ul>
      </div>
    </div>
    <div class="letter">
      <p v-for="(item, index) in floorCities" :key="item.type" @click="jump(index, item.type)">{{item.type}}</p>
    </div>
    <div class="tip" v-show="tipText">{{tipText}}</div>
  </div>
</template>

<script>

export default {
  props: ['hotCity', 'floorCities'],
  data() {
    return {
      tipText: ''
    }
  },
  
  methods: {
    jump(index, type) {
      // 根据点击的下标去查找左侧对应下标的元素到父元素的距离
      this.$refs.floor.scrollTop = this.$refs.floor.children[index + 1].offsetTop
      this.showTip(type)
    },
    showTip(text) {
      this.tipText = text

      // 添加防抖，连续调用多次只执行最有一次
      if (this.timer) clearTimeout(this.timer)
      this.timer = setTimeout(() => {
        this.tipText = ''
      }, 2000)
    }
  }
}
// [
//   {
//     type: 'A',
//     list: [{}]
//   },
//   {
//     type: 'B',
//     list: [{}]
//   }
// ]
</script>

<style lang="scss" scoped>
.city-list {
  height: 100%;
  display: flex;
}
.floor {
  flex: 1;
  overflow: auto;
  position: relative;
  scroll-behavior: smooth;
  &::-webkit-scrollbar {
    display: none;
  }
}
.letter {
  width: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 12px;
  p {
    width: 20px;
    text-align: center;
    padding: 3px 0;
  }
}
.floor-item {
  h3 {
    background-color: #f4f4f4;
    color: #797d82;
    padding: 0 0 0 15px;
    height: 30px;
    line-height: 30px;
    font-weight: normal;
    font-size: 12px;
  }
  ul {
    padding-left: 20px;
  }
  li {
    background-color: #fff;
    height: 100%;
    line-height: 48px;
    font-size: 14px;
    list-style-type: none;
    border-bottom: 1px solid #ededed;
  }
}
.tip {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  border-radius: 5px;
  background: rgba($color: #000000, $alpha: .6);
  color: #ffffff;
  text-align: center;
  line-height: 50px;
}
</style>