<template>
  <div class="page">
    <div v-if="list.length === 0">没有匹配的数据</div>
    <ul v-else>
      <li v-for="item in list" :key="item.cityId" @click="$emit('select', item.name)">{{item.name}}</li>
    </ul>
  </div>
</template>

<script>
export default {
  props: ['list']
}
</script>

<style lang="scss" scoped>
.page {
  height: 100%;
  overflow: auto;
}
</style>