<template>
  <div class="search-wrap">
    <div class="inp-wrap">
      <input type="text" placeholder="搜索城市或拼音" v-model.trim="searchText" @focus="showCancel = true">
      <div class="clear" @click="searchText = ''" v-show="searchText && showCancel">x</div>
    </div>
    <div class="cancel" v-if="showCancel" @click="cancel">取消</div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      searchText: '',
      showCancel: false
    }
  },
  methods: {
    cancel() {
      this.showCancel = false
      // 通知父组件点击取消按钮
      this.$emit('cancel')
    }
  },
  watch: {
    searchText() {
      // 通知父组件搜索内容更新了
      this.$emit('input', this.searchText)
    }
  }
}
</script>

<style lang="scss" scoped>
.search-wrap {
  height: 50px;
  background: #f4f4f4;
  padding: 10px 15px;
  display: flex;
  font-size: 14px;
}
.inp-wrap {
  flex: 1;
  background: #ffffff;
  display: flex;
  align-items: center;
  input {
    flex: 1;
    border: none;
    outline: none;
    padding-left: 15px;
  }
  .clear {
    width: 16px;
    height: 16px;
    font-size: 12px;
    text-align: center;
    line-height: 16px;
    background: #797d82;
    border-radius: 50%;
    color: #ffffff;
    margin: 0 10px;
  }
}
.cancel {
  margin-left: 10px;
  line-height: 30px;
}
</style>