<script setup>
import { ref } from 'vue'
import { useHomeStore } from '../store/home'
import { showToast } from 'vant'
import { useRouter } from 'vue-router'

const router = useRouter()
const home = useHomeStore()
const form = ref({
  pt: '',
  task: '',
  remark: '',
  bj: 0,
  bjBack: false,
  yj: 0,
  yjBack: false
})
const formRef = ref(null)

const submit = async () => {
  await formRef.value.validate()
  home.add(form.value)
  showToast('新增成功')
  router.push('/')
}
</script>

<template>
  <div class="page">
    <van-form ref="formRef" label-width="60">
      <van-field label="平台" :rules="[{ required: true, message: '请选择平台' }]">
        <template #input>
          <van-radio-group direction="horizontal" v-model="form.pt">
            <van-radio name="jd">京东</van-radio>
            <van-radio name="tb">淘宝</van-radio>
            <van-radio name="pdd">拼多动</van-radio>
          </van-radio-group>
        </template>
      </van-field>
      <van-field
        v-model="form.task"
        label="任务名称"
        placeholder="请输入任务名称"
        :rules="[{ required: true, message: '请填写用户名' }]"
      />
      <van-field label="本金">
        <template #input>
          <input type="number" v-model.number="form.bj" class="num">元
          <van-checkbox class="back" v-model="form.bjBack">本金 {{form.bjBack ? '已返' : '未返'}}</van-checkbox>
        </template>
      </van-field>
      <van-field label="佣金">
        <template #input>
          <input type="number" v-model.number="form.yj" class="num">元
          <van-checkbox  class="back" v-model="form.yjBack">佣金金 {{form.yjBack ? '已返' : '未返'}}</van-checkbox>
        </template>
      </van-field>
      <van-field
        v-model="form.remark"
        rows="2"
        autosize
        label="备注"
        type="textarea"
        maxlength="50"
        placeholder="请输入备注"
        show-word-limit
      />
    </van-form>
    <van-button type="primary" size="small" block @click="submit">提交</van-button>
  </div>
</template>

<style lang='scss' scoped>
.page {
  padding: 20px;
}
.num {
  width: 30px;
  margin-right: 5px
}
.back {
  margin-left: 20px;
}
</style>
