<script setup>
import { ref } from 'vue'
import { useRoute, useRouter } from 'vue-router'
import { useHomeStore } from '../store/home'
import { showToast } from 'vant'

const home = useHomeStore()
// route 类似 this.$route
const route = useRoute()
const router = useRouter()

const curInfo = ref({})
const cur = home.list.find(v => v.id === Number(route.params.id))
if (cur) {
  curInfo.value = {...cur}
}

const save = () => {
  home.save(curInfo.value)
  showToast('保存成功')
  router.back()
}

</script>

<template>
  <div>
    <h1>详情页面</h1>
    <h2>名称：{{ curInfo.task }}</h2>
    <div>平台：{{ curInfo.pt }}</div>
    <div>本金：{{ curInfo.bj }} <van-switch v-model="curInfo.bjBack" /></div>
    <div>佣金：{{ curInfo.yj }} <van-switch v-model="curInfo.yjBack" /></div>
    <button @click="save">保存</button>
  </div>
</template>

<style lang='scss' scoped>

</style>
