<script setup>
import { RouterView, RouterLink } from 'vue-router'
</script>

<template>
  <div class="home">
    <main>
      <RouterView />
    </main>
    <footer>
      <RouterLink to="/movie">备忘录</RouterLink>
      <RouterLink to="/cinema">新建</RouterLink>
      <RouterLink to="/mine">我的</RouterLink>
    </footer>
  </div>
</template>

<style lang='scss' scoped>
.home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  main {
    flex: 1;
  }
  footer {
    height: 40px;
    border-top: 1px solid;
    display: flex;
    a {
      flex: 1;
      text-align: center;
      line-height: 40px;
    }
    .router-link-active {
      background: orange;
    }
  }
}
</style>
