<script setup>
import { useHomeStore } from '../store/home'
const home = useHomeStore()

</script>

<template>
  <div>
    <h1>我的页面</h1>
    <div class="row">
      <div class="item">
        <h3>{{ home.total.bjBack }}</h3>
        <p>已返本金</p>
      </div>
      <div class="item">
        <h3>{{ home.total.bj }}</h3>
        <p>未返本金</p>
      </div>
      <div class="item">
        <h3>{{ home.total.yjBack }}</h3>
        <p>已返佣金</p>
      </div>
      <div class="item">
        <h3>{{ home.total.yj }}</h3>
        <p>未返佣金</p>
      </div>
    </div>
    {{ home.total }}
  </div>
</template>

<style lang='scss' scoped>
.row {
  display: flex;
}
.item {
  flex: 1;
  text-align: center;
}
</style>
