<script setup>
import { useRouter, RouterLink } from 'vue-router'
import { useHomeStore } from '../store/home'

const router = useRouter()

const home = useHomeStore()

const goDetail = id => {
  router.push(`/detail/${id}`)
}

</script>

<template>
  <div class="home">
    <div class="empty" v-if="home.list.length == 0">
      <p>还没有数据，去新增数据吧</p>
      <!-- <RouterLink to="/cinema">新建</RouterLink> -->
      <van-button type="primary" size="small" @click="router.push('/cinema')">新建</van-button>
    </div>
    <div class="list" v-else>
      <div class="list-item" v-for="item in home.list" :key="item.id" @click="goDetail(item.id)">
        <h3>任务名称：{{ item.task }}</h3>
        <p>{{ item.createTime }}</p>
      </div>
    </div>
  </div>
</template>

<style lang='scss' scoped>
.home {
  height: 100%;
}
.empty {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  a {
    width: 100px;
    height: 30px;
    background: tomato;
    color: #ffffff;
    border-radius:  5px;
    text-align: center;
    line-height: 30px;
  }
}
.list-item {
  padding: 20px;
  border-bottom: 1px solid #cccccc;
}
</style>
