<template>
  <div class="movie">
    <nav>
      <router-link replace to="/home/movie/now">正在热映</router-link>
      <router-link replace to="/home/movie/coming">即将上映</router-link>
    </nav>
    <div class="list">
      <router-view />
    </div>
  </div>
</template>

<script>
export default {

}
</script>

<style lang="scss" scoped>
.movie {
  height: 100%;
  display: flex;
  flex-direction: column;
  nav {
    height: 40px;
    border-bottom: 1px solid #dddddd;
    display: flex;
    a {
      flex: 1;
      text-align: center;
      line-height: 40px;
      &.router-link-active {
        color: tomato;
      }
    }
  }
}
.list {
  flex: 1;
  overflow: hidden;
}
</style>