<template>
  <div id="app">
    <h1>我是app</h1>
    <nav>
      <router-link replace to="/home">首页</router-link>
      <router-link replace to="/detail">详情</router-link>
      <router-link replace to="/login">登录</router-link>
    </nav>
    <!-- <button @click="link">跳转</button> -->
    <router-view />
  </div>
</template>

<script>
export default {
  methods: {
    link() {
      console.log(this.$router)
      // this.$router.go(-1)
      // this.$router.forward()
      // this.$router.push('/detail')
      // this.$router.replace('/detail')
    }
  },
  created() {
  }
}
</script>


<style lang="scss">
nav {
  a {
    margin: 0 10px;
  }
  .router-link-exact-active {
    color: tomato;
  }
}
</style>
