<script setup>
// http://121.89.213.194:9001/api/register
// password
// username
</script>

<template>
  <div class="form">注册表单</div>
</template>

<style lang='scss' scoped>
.form {
  background: #ffffff;
  border-radius: 6px;
}
</style>
