<template>
  <div class="app123">
    <h1>app组件</h1>
    <p>title1: {{title1}}</p>
    <input type="text" v-model="title1">

    <Counter
      :title="xm.name"
      :count="xm.age"
      @add="addAge"
    />
    {{xm}}
  </div>
</template>

<script>
// 引入组件
import Counter from './components/Counter.vue'
export default {
  data() {
    return {
      title1: '组件1',
      xm: {
        name: '王小明',
        age: 22
      }
    }
  },
  methods: {
    addAge(n) {
      console.log('接收子组件传入的数据', n)
      this.xm.age += n
    }
  },
  components: {
    // 注册组件
    Counter
  }
}
</script>

<style lang="scss">
h1 {
  color: red;
}
</style>
