<template>
  <div>
    <h1>动态组件</h1>
    <button @click="curCom = 'Child1'">商品</button>
    <button @click="curCom = 'Child2'">评论</button>
    <button @click="curCom = 'Child3'">商家</button>

    <!-- keep-alive: 缓存组件状态，组件隐藏不会被销毁 -->
    <!-- 被keep-alive包裹的组件有两个特殊的生命周期
        activated: 组件显示
        deactivated: 组件隐藏
     -->
    <!-- <keep-alive>
      <Child1 v-if="curCom === 'Child1'" />
      <Child2 v-else-if="curCom === 'Child2'" />
      <Child3 v-else-if="curCom === 'Child3'" />
    </keep-alive> -->

    <!-- 动态组件 -->
    <keep-alive>
      <component :is="curCom"></component>
    </keep-alive>
  </div>
</template>

<script>
import Child1 from './components/Child1.vue'
import Child2 from './components/Child2.vue'
import Child3 from './components/Child3.vue'

export default {
  data() {
    return {
      curCom: 'Child1'
    }
  },
  components: {
    Child1,
    Child2,
    Child3
  }
}
</script>

<style>

</style>