<template>
  <div id="app">
    <Search @search="search" @reset="reset" />
    <el-button type="primary" @click="visible = true">新增</el-button>
    <el-table :data="list" style="width: 100%; text-align:center" border>
      <el-table-column prop="no" label="序号" fixed width="80"> </el-table-column>
      <el-table-column prop="id" label="id" width="180"> </el-table-column>
      <el-table-column prop="name" label="姓名"> </el-table-column>
      <el-table-column prop="age" label="年龄"> </el-table-column>
      <el-table-column label="性别">
        <template slot-scope="scope">
          <el-tag v-if="scope.row.sex === 1">男</el-tag>
          <el-tag v-else type="success">女</el-tag>
        </template>
      </el-table-column>
      <el-table-column prop="email" label="邮箱" width="300"> </el-table-column>
      <el-table-column prop="address" label="地址" width="300"> </el-table-column>
      <el-table-column label="操作" width="200" fixed="right">
        <template slot-scope="scope">
          <el-button size="mini" type="primary" plain @click="showEdit(scope.row)">编辑</el-button>
          <el-button size="mini" type="danger" plain @click="remove(scope.row)">删除</el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
      background
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
      :current-page="pagenum"
      :page-sizes="[5, 10, 15, 20]"
      :page-size="pagesize"
      layout="total, sizes, prev, pager, next, jumper"
      :total="copyList.length">
    </el-pagination>
    <el-dialog title="新增" :visible.sync="visible">
      <el-form ref="formRef" :model="form" :rules="rules" label-width="100px">
        <el-form-item label="姓名" prop="name">
          <el-input v-model="form.name" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item label="年龄" prop="age">
          <el-input v-model.number="form.age" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item label="性别" prop="sex">
          <el-select v-model="form.sex">
            <el-option :value="1" label="男"></el-option>
            <el-option :value="0" label="女"></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="邮箱" prop="email">
          <el-input v-model="form.email" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item label="地址" prop="address">
          <el-cascader v-model="form.address" :options="cityOptions"></el-cascader>
        </el-form-item>
      </el-form>
      {{form}}
      <div slot="footer" class="dialog-footer">
        <el-button @click="visible = false">取 消</el-button>
        <el-button type="primary" @click="confirm">确 定</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import axios from 'axios'
import Search from './components/Search.vue'

export default {
  data() {
    return {
      visible: false,
      allList: [],
      pagenum: 1,
      pagesize: 5,
      searchForm: null,
      form: {
        name: '',
        age: '',
        sex: '',
        email: '',
        address: ''
      },
      rules: {
        name: [{ required: true, message: '请输入姓名' }],
        age: [
          { required: true, message: '请输入年龄' },
          { type: 'number', message: '年龄必须是数字' },
        ],
        sex: [{ required: true, message: '请选择性别' }],
        email: [
          { required: true, message: '请输入邮箱' },
          { type: 'email', message: '邮箱格式错误' }
        ],
        address: [{ required: true, message: '请选择地址' }]
      },
      editId: null,
      cityOptions: []
    }
  },
  methods: {
    handleSizeChange(size) {
      this.pagesize = size
    },
    handleCurrentChange(page) {
      this.pagenum = page
    },
    search(form) {
      this.pagenum = 1
      this.searchForm = form
    },
    reset() {
      this.searchForm = null
    },
    async remove(row) {
      try {
        await this.$confirm(`此操作将永久删除${row.name}, 是否继续?`, '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        })
        const index = this.allList.findIndex(v => v.id === row.id)
        this.allList.splice(index, 1)
        this.$message({
          type: 'success',
          message: '删除成功!'
        })
      } catch (e) {
        this.$message({
          type: 'info',
          message: '已取消删除'
        })
      }
    },
    confirm() {
      this.$refs.formRef.validate(valid => {
        if (valid) {
          if (this.editId) {
            const index = this.allList.findIndex(v => v.id === this.editId)
            const no = this.allList[index].no
            this.allList.splice(index, 1, {
              ...this.form,
              address: this.form.address.join(' '),
              id: this.editId,
              no
            })
          } else {
            this.allList.push({
              ...this.form,
              address: this.form.address.join(' '),
              id: Date.now(),
              no: this.allList[this.allList.length - 1].no + 1
            })
          }
          this.visible = false
        }
      })
    },
    showEdit(row) {
      this.visible = true
      const { id, no, ...other } = row
      this.editId = id
      const address = other.address.split(' ')
      this.form = {...other, address }
    },
    async getCityData() {
      const res = await axios.get('/api/city')
      this.cityOptions = res.data
    },
    async getAllList() {
      const res = await axios.get('/api/list')
      this.allList = res.data
    }
  },
  computed: {
    copyList() {
      if (this.searchForm) {
        return this.allList.filter(v => {
          return v.name.includes(this.searchForm.name) && (this.searchForm.sex !== '' ? v.sex === this.searchForm.sex : true)
        })
      } else {
        return this.allList
      }
    },
    list() {
      return this.copyList.slice((this.pagenum - 1) * this.pagesize, this.pagenum * this.pagesize)
    }
  },
  watch: {
    visible() {
      if (!this.visible) {
        this.$refs.formRef.resetFields()
        this.editId = null
      }
    }
  },
  created() {
    this.getAllList()
    this.getCityData()
  },
  components: {
    Search
  }
}
</script>

<style lang="scss">
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#app {
  padding: 20px;
  min-height: 100vh;
  background: #eeeeee;
}
li {
  list-style-type: none;
}
.el-table .el-table__cell {
  text-align: center !important;
}
</style>
