<template>
  <div class="dialog" @click.self="$emit('close')">
    <div class="content">
      <div class="header">
        <slot name="header">
          <h2>{{title}}</h2>
          <span v-if="showClose" @click="$emit('close')">x</span>
        </slot>
      </div>
      <div class="center">
        <!-- 插槽：把组件调用时双标签的内容展示到此处 -->
        <!-- 作用域插槽：把组件内的变量提供给调用组件时的插槽使用 -->
        <slot name="default" :subTitle="childTitle" b="BBBB" :c="[1,3,4,5]">
          <h3>我是插槽的默认值</h3>
        </slot>
      </div>
      <div class="footer">
        <!-- 具名插槽 -->
        <slot name="footer" cc="ccccccc">
          <button>{{cancelText}}</button>
          <button>{{okText}}</button>
        </slot>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  // 数组接收props
  // props: ['title', 'cancelText', 'okText']
  // 对象接收props
  props: {
    title: String, // 校验参数类型
    cancelText: {
      type: String, // 校验参数类型
      default: '取消' // 参数默认值
    },
    okText: {
      type: String,
      default: '确定'
    },
    showClose: {
      type: Boolean,
      required: true // 必填
    },
    info: {
      type: Object,
      default() { // 对象和数组类型的默认值必须通过一个函数返回
        return { a: 1, b: 2 }
      }
    },
    sex: {
      // 自定义校验参数
      validator(value) {
        return ['男', '女', '未知'].includes(value)
      }
    }
  },
  data() {
    return {
      childTitle: '我是弹窗组件内部的变量'
    }
  }
}
</script>

<style lang="scss" scoped>
.dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba($color: #000000, $alpha: .5);
}
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  width: 400px;
  min-height: 400px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
.header {
  height: 50px;
  border-bottom: 1px solid;
  line-height: 50px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
}
.center {
  flex: 1;
}
.footer {
  height: 50px;
  border-top: 1px solid;
}
</style>