<template>
  <div>
    <h2>首页</h2>
    <el-button type="primary" disabled>主要按钮</el-button>
    <el-button type="danger" plain size="medium">主要按钮</el-button>
    <el-button type="primary" size="small" loading>主要按钮</el-button>
    <el-button type="primary" circle size="mini">主要按钮</el-button>
    <el-calendar v-model="value"></el-calendar>
  </div>
</template>

<script>
export default {
  data() {
    return {
      value: new Date()
    }
  }
}
</script>

<style lang="scss" scoped>
// 样式穿透，修改组件库样式
::v-deep .el-calendar-table td.is-selected {
  background: red !important;
}
::v-deep .el-calendar-table .el-calendar-day:hover {
  background: red !important;
}
</style>