.switch {
  text-align: center;
  margin-bottom: 10px;
  p {
    width: 60px;
    height: 30px;
    background: #000;
    padding: 4px;
  }
  span {
    display: block;
    width: 22px;
    height: 22px;
    background: blue;
    opacity: 0.6;
    transition: all 0.2s linear;
  }
  .on {
    transform: translateX(30px);
    opacity: 1;
  }
}