<script setup>
import { useUserStore } from '../store/user'
import { useGoodsStore } from '../store/goods'

// 获取store中的数据
const userStore = useUserStore()
const goodsStore = useGoodsStore()

const change = () => {
  userStore.changeName(Math.random())
}
</script>

<template>
  <div>
    <h2>影院页面</h2>
    <p>姓名: {{ userStore.name }}</p>
    <button @click="change">修改姓名</button>
    <hr />
    <button @click="goodsStore.list.push(goodsStore.list.length)">添加</button>
    <p>{{ goodsStore.list }}</p>
    <p>总数: {{ goodsStore.total }}</p>
  </div>
</template>

<style lang='scss' scoped>

</style>
