<script setup>
import { useRoute } from 'vue-router'

// route 类似 this.$route
const route = useRoute()

console.log(route)

</script>

<template>
  <div>
    <h1>详情页面</h1>
  </div>
</template>

<style lang='scss' scoped>

</style>
