<script setup>
import { useUserStore } from '../store/user'

// 获取store中的数据
const userStore = useUserStore()


</script>

<template>
  <div>
    <h1>我的页面</h1>
    <p>姓名: {{ userStore.name }}</p>
    <p>年龄: {{ userStore.age }}</p>
    <button @click="userStore.age++">age+</button>
  </div>
</template>

<style lang='scss' scoped>

</style>
