<script setup>
import { useRouter } from 'vue-router'

// 类似 vue2 中的 this.$router
const router = useRouter()

const goDetial = id => {
  console.log(id)
  // router.push(`/detail/${id}`)
  router.push({
    name: 'detail',
    params: {
      id
    },
    query: {
      a: 100,
      b: 200
    }
  })
}
</script>

<template>
  <div>
    <h2>电影页面</h2>
    <ul>
      <li v-for="v in 5" :key="v" @click="goDetial(v)">{{ v }}</li>
    </ul>
  </div>
</template>

<style lang='scss' scoped>
li {
  line-height: 40px;
  border-bottom: 1px dashed;
}
</style>
