<template>
  <div style="padding: 20px">
    <el-table :data="films" style="width: 100%">
      <el-table-column prop="filmId" label="电影id" width="180"></el-table-column>
      <el-table-column prop="name" label="电影名称" width="180"></el-table-column>
      <el-table-column label="封面">
        <template slot-scope="scope">
          <el-image  style="width: 100px" :src="scope.row.poster" :preview-src-list="[scope.row.poster]">
          </el-image>
        </template>
      </el-table-column>
      <el-table-column prop="category" label="类型"></el-table-column>
      <el-table-column prop="actors" label="主演">
        <template slot-scope="scope">
          <el-tag v-for="item in scope.row.actors" :key="item.name">{{item.name}}</el-tag>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
      background
      :current-page="pageNum"
      :page-sizes="[5, 10, 20, 30]"
      :page-size="pageSize"
      layout="total, sizes, prev, pager, next, jumper"
      :total="total"
      @current-change="changePage"
      @size-change="changeSize"
    >
    </el-pagination>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  data() {
    return {
      films: [],
      total: 0,
      pageNum: 1,
      pageSize: 5
    }
  },
  methods: {
    async getList() {
      const res = await axios.get('https://m.maizuo.com/gateway', {
        params: {
          cityId: 440300,
          type: 1,
          k: 6923810,
          pageNum: this.pageNum,
          pageSize: this.pageSize,
        },
        headers: {
          'X-Client-Info': '{"a":"3000","ch":"1002","v":"5.2.1","e":"17218918638581224398323713"}',
          'X-Host': 'mall.film-ticket.film.list'
        }
      })
      this.total = res.data.data.total
      this.films = res.data.data.films
    },
    changeSize(size) {
      console.log('当前每页多少条', size)
      this.pageSize = size
      this.getList()
    },
    changePage(page) {
      console.log('当前第几页', page)
      this.pageNum = page
      this.getList()
    }
  },
  created() {
    this.getList()
  }
}
</script>

<style>

</style>