<script setup>
import { reactive, ref, watch } from 'vue'
import Pass from './components/Pass.vue'
import { getUserListApi, delUserApi, createUserApi, updateUserApi } from '@/services'
import { ElMessage, ElMessageBox } from 'element-plus'
import Search from './components/Search.vue'

const tableData = ref([])
const total = ref(0)
const query = ref({
  page: 1,
  pagesize: 5
})
const showDialog = ref(false)
const form = ref({
  username: '',
  password: '',
  age: '',
  sex: '',
  email: ''
})
const formRef = ref(null)
const filterForm = ref({})

const getList = async () => {
  const res = await getUserListApi({
    ...query.value,
    ...filterForm.value
  })
  tableData.value = res.data.values.list
  total.value = res.data.values.total
}


watch(query.value, () => {
  getList()
}, {
  immediate: true
})

const remove = async (row) => {
  await ElMessageBox.confirm(
    `此操作不可逆，是否要删除 ${row.username} ?`,
    '警告',
    {
      confirmButtonText: '删除',
      cancelButtonText: '取消',
      type: 'warning',
    }
  )
  const res = await delUserApi(row.id)
  if (res.data.code === 0) {
    ElMessage({
      type: 'success',
      message: '删除成功',
    })
    getList()
  } else {
    ElMessage({
      type: 'error',
      message: res.data.msg,
    })
  }
}

watch(showDialog, () => {
  if (!showDialog.value) {
    formRef.value.resetFields()
    form.value = {
      username: '',
      password: '',
      age: '',
      sex: '',
      email: ''
    }
  }
})

const rules = reactive({
  username: [
    { required: true, message: '请输入姓名！' }
  ],
  password: [
    { required: true, message: '请输入密码！' }
  ],
  sex: [
    { required: true, message: '请选择姓名！' }
  ],
  age: [
    { required: true, message: '请输入年龄！' },
    { type: 'number', message: '年龄必须是数字！' }
  ],
  email: [
    { required: true, message: '请输入邮箱！' },
    { type: 'email', message: '邮箱格式错误' }
  ]
})

const createAction = async () => {
  const res = await createUserApi(form.value)
  if (res.data.code === 0) {
    ElMessage.success('创建成功')
    showDialog.value = false
    getList()
  } else {
    ElMessage.error(res.data.msg)
  }
}
const updateAction = async () => {
  const res = await updateUserApi(form.value)
  if (res.data.code === 0) {
    ElMessage.success('编辑成功')
    showDialog.value = false
    getList()
  } else {
    ElMessage.error(res.data.msg)
  }
}
const confirm = async () => {
  await formRef.value.validate()
  if (form.value.id) {
    updateAction()
  } else {
    createAction()
  }
}

const handleEdit = (row) => {
  showDialog.value = true
  form.value = {...row}
}

const onSearch = (params) => {
  console.log('搜索的内容', params)
  filterForm.value = params
  getList()
}
</script>

<template>
  <div class="page">
    <Search @search="onSearch" />
    <div class="btns">
      <el-button type="primary" @click="showDialog = true">新增</el-button>
      <el-button>导出</el-button>
    </div>
    <el-table :data="tableData" style="width: 100%" border size="large">
      <el-table-column fixed prop="no" label="序号" width="100" />
      <el-table-column prop="id" label="用户id" width="200" />
      <el-table-column prop="username" label="姓名" width="120" />
      <el-table-column prop="age" label="年龄" width="120" />
      <el-table-column label="性别" width="100">
        <template #default="scope">
          {{scope.row.sex === 1 ? '男' : '女'}}
        </template>
      </el-table-column>
      <el-table-column prop="email" label="邮箱" width="400" />
      <el-table-column label="密码" width="150">
        <template #default="scope">
          <Pass :password="scope.row.password" />
        </template>
      </el-table-column>
      <el-table-column fixed="right" label="操作" min-width="120">
        <template #default="scope">
          <el-button link type="primary" size="small" @click="handleEdit(scope.row)">编辑</el-button>
          <el-button link type="danger" size="small" @click="remove(scope.row)">删除</el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
      class="pagination"
      v-model:current-page="query.page"
      v-model:page-size="query.pagesize"
      :page-sizes="[5, 10, 15, 20]"
      background
      layout="total, sizes, prev, pager, next, jumper"
      :total="total"
    />
  </div>

  <el-dialog v-model="showDialog" title="新增用户">
    <el-form :model="form" :rules="rules" ref="formRef">
      <el-form-item label="姓名" prop="username">
        <el-input v-model="form.username" autocomplete="off" />
      </el-form-item>
      <el-form-item label="密码" prop="password">
        <el-input v-model="form.password" autocomplete="off" />
      </el-form-item>
      <el-form-item label="性别" prop="sex">
        <el-select v-model="form.sex" placeholder="选择性别">
          <el-option label="男" :value="1" />
          <el-option label="女" :value="0" />
        </el-select>
      </el-form-item>
      <el-form-item label="年龄" prop="age">
        <el-input v-model.number="form.age" autocomplete="off" />
      </el-form-item>
      <el-form-item label="邮箱" prop="email">
        <el-input v-model="form.email" autocomplete="off" />
      </el-form-item>
    </el-form>
    <template #footer>
      <div class="dialog-footer">
        <el-button @click="showDialog = false">取消</el-button>
        <el-button type="primary" @click="confirm">确定</el-button>
      </div>
    </template>
  </el-dialog>
</template>

<style lang='scss' scoped>
.page {
  padding: 20px;
  background: #ffffff;
  border-radius: 4px
}
.pagination {
  margin-top: 20px;
  justify-content: flex-end;
}
.btns {
  margin-bottom: 20px;
}
</style>
