<template>
  <div>
    <h1>我是登录页面</h1>
    <p>用户名: <input type="text" v-model.trim="form.username"></p>
    <p>密码：<input type="text" v-model.trim="form.password"></p>
    <button @click="submit">登录</button>
  </div>
</template>

<script>

const fetch = ({ username, password }) => {
  return new Promise((resolve, reject) => {
    setTimeout(() => {
      if (username === 'zyx' && password === '123') {
        resolve('sdfbiurewdfkasjfdlkjasdflkjadlfjalsdfjlaksdfjlkasd')
      } else {
        reject('登录失败')
      }
    }, 2000)
  })
}

export default {
  data() {
    return {
      form: {
        username: '',
        password: ''
      }
    }
  },
  methods: {
    async submit() {
      try {
        const token = await fetch(this.form)
        alert('登录成功')
        localStorage.setItem('token', token)
        const url = this.$route.query.redirectUrl || '/'
        this.$router.push(url)
      } catch(e) {
        alert('登录失败')
      }
    }
  }
}
</script>

<style lang="scss" scoped>
h1 {
  color: blue;
}
</style>