<script setup>
import { ref } from 'vue'
import Child from './components/Child.vue'

const count = ref(0)
const title = ref('标题')

const changeCount = n => {
  count.value += n
}
const changeTitle = t => {
  title.value = t
}

</script>

<template>
  <div class="app">
    <h2>{{ title }}</h2>
    <input type="text" v-model="title">
    <div>count: {{ count }} <button @click="count++">+</button></div>
    <Child
      :count="count"
      :title="title"
      @change="changeCount"
      @changeTitle="changeTitle"
    />
  </div>
</template>

<style lang='scss' scoped>

</style>
