<script setup>
import { ref } from 'vue'
import { View } from '@element-plus/icons-vue'

const props = defineProps(['password'])
const show = ref(false)

</script>

<template>
  <div class="pass">
    <span v-if="show">{{ password }}</span>
    <span v-else>***</span>
    <el-icon
      @mousedown="show = true"
      @mouseup="show = false"
      @mouseleave="show = false"
    ><View /></el-icon>
  </div>
</template>

<style lang='scss' scoped>
.pass {
  display: flex;
  justify-content: space-between;
}
</style>
