<script setup>
import { reactive } from 'vue'
const emits = defineEmits(['search'])
const formInline = reactive({
  username: '',
  sex: '',
  age: '',
  email: '',
  id: ''
})

const onSubmit = () => {
  // 通知父组件点击了搜索
  // console.log('submit!', formInline)
  const params = {}
  Object.keys(formInline).forEach(key => {
    if (formInline[key] || typeof formInline[key] !== 'string') {
      params[key] = formInline[key]
    }
  })
  emits('search', {...params})
}
</script>

<template>
  <div class="search">
    <el-form :inline="true" :model="formInline" label-width="80px">
      <el-form-item label="姓名">
        <el-input v-model="formInline.username" placeholder="请输入姓名" clearable />
      </el-form-item>
      <el-form-item label="性别">
        <el-select
          v-model="formInline.sex"
          placeholder="选择性别"
          clearable
        >
          <el-option label="男" :value="1" />
          <el-option label="女" :value="0" />
        </el-select>
      </el-form-item>
      <el-form-item label="年龄">
        <el-input v-model.number="formInline.age" placeholder="请输入年龄" clearable />
      </el-form-item>
      <el-form-item label="邮箱">
        <el-input v-model="formInline.email" placeholder="请输入邮箱" clearable />
      </el-form-item>
      <el-form-item label="用户id">
        <el-input v-model="formInline.id" placeholder="请输入id" clearable />
      </el-form-item>
      <el-form-item style="padding-left: 80px; box-sizing: border-box">
        <el-button type="primary" @click="onSubmit">搜索</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<style lang='scss' scoped>
::v-deep .el-form--inline .el-form-item {
  width: calc((100% - 64px) / 3);
  &:nth-child(3n) {
    margin-right: 0;
  }
}
</style>
