* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #999999;
}
.app {
  width: 700px;
  height: 360px;
  margin: 0 auto;
  border: 3px solid orange;
  display: flex;
  user-select: none;
}