<script setup>
import { ref } from 'vue';
const title = ref('我是标题')
</script>


<template>
	<view class="content">
    <view class="title">
      我是首页
    </view>
    <image class="logo" src="/static/logo.png"></image>
    
    
    <!-- #ifdef H5 -->
		<view class="text-area">
			<text class="title">{{title}}</text>
		</view>
    <!-- #endif -->
    
    <navigator class="link" url="/pages/mine/mine">跳转页面</navigator>
	</view>
</template>



<style lang="scss" scoped>
	.content {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.logo {
		height: 200rpx;
		width: 200rpx;
		margin-top: 200rpx;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 50rpx;
	}

	.text-area {
		display: flex;
		justify-content: center;
	}

	.title {
		font-size: 36rpx;
		color: #8f8f94;
	}
  
  /* #ifdef MP-WEIXIN */
  .link {
    background: red;
  }
  /* #endif */
  
</style>
