<template>
  <!-- 组件的template只能有一个根元素 -->
  <div class="app123">
    <Header></Header>
    <Center></Center>
    <footer>
      <h3>我是底部</h3>
      <button>我是按钮</button>
    </footer>
  </div>
</template>

<script>
// 引入组件
import Header from './components/Header.vue'
import Center from './components/Center.vue'

export default {
  data() {
    return {
      title: '123'
    }
  },
  methods: {
    changeTitle() {
      this.title = Math.random()
    }
  },
  computed: {},
  watch: {},
  created() {},
  mounted() {},
  components: {
    // 注册组件
    Header,
    Center
  }
}
</script>

<style lang="scss">
h1 {
  color: red;
}
</style>
