<template>
  <div class="login">
    <div class="form">
      <h3>登录</h3>
      <div class="form-item">
        <input type="text" placeholder="用户名" v-model.trim="form.username">
      </div>
      <div class="form-item">
        <input type="password" placeholder="密码" v-model.trim="form.password">
      </div>
      <button @click="submit" :disabled="loading">{{loading ? '加载中' : '登录'}}</button>
    </div>
  </div>
</template>

<script>
const loginApi = ({ username, password }) => {
  return new Promise((resolve, reject) => {
    setTimeout(() => {
      if (username === 'admin' && password === '123') {
        resolve({
          code: 0,
          msg: '成功',
          token: 'sssjjssqeryfgweubg.afekjfihbewurfgwluerbyfgluybwer.ubdvchjxbchbsadfbhjasdbhfa'
        })
      } else {
        resolve({
          code: -1,
          msg: '用户名或密码错误'
        })
      }
    }, 1000)
  })
}


export default {
  data() {
    return {
      form: {
        username: '',
        password: ''
      },
      loading: false
    }
  },
  methods: {
    async submit() {
      if (this.form.username === '' || this.form.password === '') {
        alert('请输入用户名和密码')
        return
      }
      this.loading = true
      const res = await loginApi(this.form)
      this.loading = false
      if (res.code === 0) {
        localStorage.setItem('token', res.token)
        localStorage.setItem('username', this.form.username)
        alert('登录成功')
        this.$router.push('/')
      } else {
        alert(res.msg)
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.login {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom right, #63b6f4, #3967cc);
}
.form {
  width: 300px;
  height: 300px;
  background: #ffffff;
  position: fixed;
  right: 30%;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 10px;
  padding: 20px;
  button {
    width: 100%;
    height: 40px;
    background: #409eff;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    &:active {
      background: #3967cc;
    }
    &:disabled {
      opacity: 0.6;
      &:active {
        background: #409eff;;
      }
    }
  }
  h3 {
    text-align: center;
    margin-bottom: 30px;
  }
}
.form-item {
  margin-bottom: 20px;
  input {
    height: 40px;
    width: 100%;
    border: 1px solid #dddddd;
    border-radius: 4px;
    padding: 0 16px;
    outline: none;
    &:focus {
      border-color: #409eff;
    }
  }
}
</style>
