.home {
  height: 100vh;
  nav {
    height: 50px;
    border-bottom: 1px solid #cccccc;
    display: flex;
    color: #333333;
    a {
      flex: 1;
      text-align: center;
      line-height: 50px;
      color: #333333;
      text-decoration: none;
    }
    :global .active {
      color: tomato;
    }
    p {
      flex: 1;
      text-align: center;
      line-height: 50px;
    }
    .icon {
      width: 50px;
      height: 50px;
      line-height: 50px;
      text-align: center;
    }
  }
}
.search {
  height: 60px;
  background: #333333;
  padding: 15px 20px;
  p {
    background: #cccccc;
    height: 100%;
    border-radius: 3px;
    padding: 0 10px;
    line-height: 30px;
    font-size: 14px;
  }
}

// :global {
//   .test {
//     background: blue;
//   }
//   .aaa {
//   }
// }
// :global .test {
//   background: blue;
// }
// :global(.test) {
//   background: green;
// }